<footer id="footer" class="footer">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-xs-4">
                <a href="http://www.vitgravitas.com" target="_blank">
                    <img src="http://res.cloudinary.com/gpl/image/upload/c_scale,h_171,w_546/v1473964075/general/gravitas.png" height="50" class="img-responsive footer-logo pull-left">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="http://www.facebook.com/ieeecsvit" target="_blank">
                    <img src="http://res.cloudinary.com/gpl/general/ieeecs.png" height="50" class="img-responsive footer-logo centered">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="http://www.vit.ac.in" target="_blank">
                    <img src="http://res.cloudinary.com/gpl/general/vit_logo_white.png" height="50" class="img-responsive footer-logo pull-right">
                </a>
            </div>
        </div>
    </div>
</footer>
