<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Dashboard | GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/dashboard.min.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrapper" class="container-fluid">
            <% include partials/playerSidebar.ejs %>
            <div id="main-content" class="col-xs-12 col-sm-10 col-sm-offset-2 full-width">
                <% include partials/playerNavbar.ejs %>
                <div class="container-fluid wrapper stats-view">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="card card-green">
                                    <div class="card-content wide">
                                        <h3>Run Rate <br/>
                                            <small>Matches v/s Run Rate</small>
                                        </h3>
                                        <div class="chart-container">
                                            <canvas id="line-chart" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="card card-green">
                                    <div class="card-content wide">
                                        <h3>Runs scored and conceded <br/>
                                            <small>Overs v/s Runs</small>
                                        </h3>
                                        <div class="chart-container">
                                            <canvas id="bar-chart" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="card card-green">
                                    <div class="card-content wide">
                                        <h3>Points History <br/>
                                            <small>Matches v/s Points</small>
                                        </h3>
                                        <div class="chart-container">
                                            <canvas id="win-loss" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="card card-green">
                                    <div class="card-content wide">
                                        <h3>Boundaries <br/>
                                            <small>Sixes v/s Fours</small>
                                        </h3>
                                        <div class="chart-container">
                                            <canvas id="pie-chart" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/chartjs/Chart.min.js"></script>
        <script async src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script async src="/javascript/playerCommon.min.js"></script>
        <script async>
            var json_data = <%- JSON.stringify(result)%>;
            function string_range(start, stop)
            {
                var string_array = [];
                for (i = start; i <= stop; ++i)
                {
                    string_array.push(i.toString());
                }
                return string_array;
            }
            Chart.defaults.global.responsive = true;
            var line = $("#line-chart").get(0).getContext("2d");
            var line_data =
            {
                labels: string_range(1, json_data.run_rates.length),
                datasets:
                [
                    {
                        label: "Run rate",
                        fillColor: "rgba(7, 51, 58,0.2)",
                        strokeColor: "transparent",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: json_data.run_rates
                    }
                ]
            };
            var myLineChart = new Chart(line).Line(line_data, {scaleShowGridLines: false});
            var bar = $("#bar-chart").get(0).getContext("2d");
            var bar_data =
            {
                labels: string_range(1, json_data.scored_per_over.length),
                datasets:
                [
                    {
                        label: "Runs scored",
                        fillColor: "rgba(7, 51, 58,0.2)",
                        strokeColor: "transparent",
                        highlightFill: "rgba(220,220,220,1)",
                        highlightStroke: "transparent",
                        data: json_data.scored_per_over
                    },
                    {
                        label: "Runs given",
                        fillColor: "rgba(19,131,148,0.2)",
                        strokeColor: "transparent",
                        highlightFill: "rgba(151,187,205,1)",
                        highlightStroke: "transparent",
                        data: json_data.conceded_per_over
                    }
                ]
            };
            var myBarChart = new Chart(bar).Bar(bar_data, {scaleShowGridLines: false});
            var winloss = $("#win-loss").get(0).getContext("2d");
            var winloss_data =
            {
                labels: string_range(1, json_data.progression.length),
                datasets:
                [
                    {
                        label: "Points",
                        fillColor: "rgba(19,131,148,0.2)",
                        strokeColor: "transparent",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: json_data.progression
                    }
                ]
            };
            var myLineChart2 = new Chart(winloss).Line(winloss_data, {bezierCurveTension: 0, scaleShowGridLines: false});
            var pie = $("#pie-chart").get(0).getContext("2d");
            var pie_data =
            [
                {
                    value: json_data.fours,
                    color: "rgba(7, 51, 58,0.2)",
                    highlight: "rgba(7, 51, 58,0.5)",
                    label: "Fours"
                },
                {
                    value: json_data.sixes,
                    color: "rgba(19,131,148,0.2)",
                    highlight: "rgba(19,131,148,0.5)",
                    label: "Sixes"
                }
            ];
            var myPieChart = new Chart(pie).Pie(pie_data);
        </script>
    </body>
</html>
