<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developers | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="/stylesheets/gplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <li class="has-dropdown not-click" style="border-radius: 5px">
                    <a href="#" style="border-radius: 5px">Sign In</a>
                    <ul class="dropdown" style="width:300%;">
                        <form method="post" action="/login">
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        Back
                                    </a>
                                </h5>
                            </li>


                            <li>

                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="team" class="right inline" style="color: white;">Team
                                                Name: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" name="name" placeholder="Team Name" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>


                                <!--Username/Team Name -->


                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row" style="margin-top: 2%">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="pass" class="right inline"
                                                   style="color: white;">Password: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="p
                                                  ass" placeholder="Password" name="password" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>

                                <!-- password-->


                            </li>
                            <li>
                                <input type="submit" align="center" class="button [tiny small large]" value="Login"
                                       id="button" name="login"
                                       style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                            </li>

                            <li class="divider"><a href="/forgot">Forgot Password?</a></li>
                        </form>
                    </ul>
                </li>
            </ul>

        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 0 0 5px 5px;border:5px;box-shadow: inset 20px 0 50px -10px rgba(0,0,0,0.4), inset -20px 0 50px -10px rgba(0,0,0,0.4),inset 0 -20px 50px rgba(0,0,0,0.4),inset 0 20px 50px rgba(0,0,0,0.4);">
            <div style="border:1px dashed #ffffff;border-radius: 5px; margin: 2%;">
                <h4 align="center" style="color: #ffffff;font-weight: bold;padding: 1%;margin: 1%;">Backend</h4>

                <div class="row small-12 medium-12 large-12"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">
                    <img src="/images/developers/kashish.jpg" width="15%" style="border: 2px solid #ffffff; margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Kashish Singhal<br/>Contact:
                        singhal.2kashish@gmail.com</p>
                </div>
                <div class="row small-12 medium-12 large-12"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">

                    <img src="/images/developers/aneesh.jpg" width="15%" style="border: 2px solid #ffffff;margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Aneesh Neelam<br/>Contact:
                        neelam.aneesh@gmail.com</p>
                </div>
                <div class="row"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;margin-bottom:2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">
                    <img src="/images/developers/kunal.jpg" width="15%" style="border: 2px solid #ffffff;margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Kunal Nagpal<br/>Contact:
                        kunagpal@gmail.com</p>
                </div>
            </div>
            <div style="border:1px dashed #ffffff;border-radius: 5px;margin: 2%;">
                <h4 align="center" style="color: #ffffff;font-weight: bold;margin: 1%;padding: 1%;">Frontend</h4>

                <div class="row"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">

                    <img src="/images/developers/shivam.jpg" width="15%" style="border: 2px solid #ffffff;margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Shivam Mathur<br/>Contact:
                        burnualive@hotmail.com</p>
                </div>
                <div class="row"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;margin-bottom:2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">

                    <img src="/images/developers/ayush.jpg" width="15%" style="border: 2px solid #ffffff;margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Ayush Agarwal<br/>Contact:
                        agarwalayush161@gmail.com</p>
                </div>
            </div>
            <div style="border:1px dashed #ffffff;border-radius: 5px;margin: 2%;">
                <h4 align="center" style="font-weight: bold;color: #ffffff;margin: 1%;padding: 1%;">Design</h4>

                <div class="row"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">

                    <img src="/images/developers/vikhyati.jpg" width="15%" style="border: 2px solid #ffffff;margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Vikhyati Jain<br/>Contact:
                        vikhyati.jain2012@vit.ac.in</p>
                </div>
                <div class="row"
                     style="width: 90%;border-radius: 5px;border: 1px solid #ffffff;margin-top: 2%;margin-bottom:2%;padding: 2%;box-shadow: 0 1px 25px 5px rgba(255,255,255,0.5);">

                    <img src="/images/developers/karan.JPG" width="15%" style="border: 2px solid #ffffff;margin: 2%;"
                         align="left"/>

                    <p align="left" style="color: #ffffff;font-weight: bold;margin-top: 5%;">Karan Pittie<br/>Contact:
                        karan.pittie2013@vit.ac.in</p>
                </div>
            </div>
        </div>

    </div>
    <!-- content -->
    <footer class="large-12" style="bottom:0; position:relative;">
        <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
            <section class="top-bar-section">
                <ul class="left">
                    <li style="display:block;"><a href="http://vitgravitas.com/">graVITas</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/developers">Developers</a></li>


                </ul>

            </section>
            <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

        </div>
    </footer>
</div>
<!-- footer -->
</body>
</html>