<!--
TODO - Centre align header text
-->
<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Developers | GPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href="/stylesheets/timeline.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
            <header class="banner" role="banner">
                <span>
                    <img src="/images/header-left.jpg" height="60" class="pull-left"/>
                    <img class="logo pull-left" src="/images/gpllogo.png" height="50"/>
                    <span class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span>
                    <img src="/images/header-right.jpg" height="60" class="pull-right"/></span>
            </header>
        </div>

        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>
        <script src="/javascript/timeline.js"></script>
        <div class="container">
            <div class="page-header">
                <h1 id="timeline"><b><span>Developers</span></b></h1>
                <h3 id="timeline"><b><span>All the minds and hands that made this endeavour what it is today.</span></b></h3>
                <div id="head1">
                    <h3><br>GPL 1.0</h3>
                    <p>
                        <small class="text-muted"><i class="glyphicon"></i> September 2014</small>
                    </p>
                </div>
            </div>
            <ul class="timeline" id="timeline1">
                <li>
                    <div class="timeline-badge blue"><i class="glyphicon glyphicon-th-large"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3 class="timeline-title"><b>Kashish Singhal</b></h3>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/kashish.jpg"
                                 alt="Kashish Singhal">

                            <p><br><b>Contact:</b> singhal.2kashish@gmail.com</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge yellow"><i class="glyphicon glyphicon-adjust"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Aneesh Neelam</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/aneesh.jpg"
                                 alt="Aneesh Neelam">
                            <p><br><b>Contact:</b> neelam.aneesh@gmail.com</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge red"><i class="glyphicon glyphicon-apple"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Kunal Nagpal</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/kunal.jpg"
                                 alt="Kunal Nagpal">
                            <p><br><b>Contact:</b> kunagpal@gmail.com</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge orange"><i class="glyphicon glyphicon-picture"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Shivam Mathur</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/shivam.jpg"
                                 alt="Shivam Mathur">
                            <p><br><b>Contact:</b> burnualive@hotmail.com</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge green"><i class="glyphicon glyphicon-fire"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Ayush Agarwal</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/ayush.jpg"
                                 alt="Ayush Agarwal">
                            <p><br><b>Contact:</b> agarwalayush161@gmail.com</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge dark-blue"><i class="glyphicon glyphicon-hand-right"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Vikhyati Singh</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/vikhyati.jpg"
                                 alt="Vikhyati Singh">
                            <p><br><b>Contact:</b> vikhyati.singh2012@vit.ac.in</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge grey"><i class="glyphicon glyphicon-pushpin"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Karan Pittie</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/karan.jpg"
                                 alt="Karan Pittie">
                            <p><br><b>Contact:</b> karan.pittie2013@vit.ac.in</p>
                        </div>
                    </div>
                </li>
            </ul>
       </div>
        <div class="container">
            <div id="head2">
                <h3>GPL 2.0</h3>
                <p>
                    <small class="text-muted"><i class="glyphicon"></i> September 2015</small>
                </p>
            </div>
            <ul class="timeline" id="timeline2">
                <li class="timeline-inverted">
                    <div class="timeline-badge orange"><i class="glyphicon glyphicon-record"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Saurabh Mathur</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/saurabh.jpg"
                                 alt="Saurabh Mathur">
                            <p><br><b>Contact:</b> saurabh.mathur2014@vit.ac.in</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge yellow"><i class="glyphicon glyphicon-tint"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Sakshi Anand</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/sakshi.jpg"
                                 alt="Sakshi Anand">
                            <p><br><b>Contact:</b> sakshi.anand2014@vit.ac.in</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge green"><i class="glyphicon glyphicon-leaf"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Tanisha Chawla</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/tanisha.jpg"
                                 alt="Tanisha Chawla">
                            <p><br><b>Contact:</b> chawlatanisha20@gmail.com</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge dark-blue"><i class="glyphicon glyphicon-bell"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Harshal Varday</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="http://res.cloudinary.com/gpl/developers/harshal.jpg"
                                 alt="Harshal Varday">
                            <p><br><b>Contact:</b> harshalvarday1@gmail.com</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge red"><i class="glyphicon glyphicon-headphones"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>Waris Chutani</b></h4>
                        </div>
                        <div class="timeline-body">
                            <img class="image" src="/images/waris.png"
                                 alt="Waris Chutani">
                            <p><br><b>Contact:</b> waris0023@gmail.com</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <footer id="footer" class="footer">
        </footer>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js(.) scripts/plugins.js -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascript/main.js"></script>
    </body>
</html>