<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error | GPL</title>
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #00B7FF;
        }
    </style>
</head>
<body>
<h1><%= message %></h1>

<h2><%= status %></h2>
<pre><%= stack %></pre>
</body>
</html>