<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>Error | GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/error.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
            <header class="banner" role="banner">
                <span>
                    <img src="http://res.cloudinary.com/gpl/general/header-left.jpg" height="60" class="pull-left"/>
                    <a href="http://www.facebook.com/gravitaspremierleague" target="_blank">
                        <img class="logo pull-left" src="http://res.cloudinary.com/gpl/general/gpllogo.png" height="50"/>
                        <span class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span>
                    </a>
                    <img src="http://res.cloudinary.com/gpl/general/header-right.jpg" height="60" class="pull-right"/>
                </span>
            </header>
        </div>
        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>
        <div class="center-block">
            <img id="errimg" src="http://res.cloudinary.com/gpl/general/404.png" height="50" class="img-responsive center-block">
        </div>
        <div class="container">
            <div class="text-center">
                <p id="err">404</p>
            </div>
            <div class="text-center">
                <p id="content">uh oh! Looks like the bat's broken.<br/>Head back <a href="/" class="alert-link">Home</a></p>
            </div>
            <div class="text-center">
                <p id="homelink"></p>
            </div>
            <br/>
        </div>
        <footer id="footer" class="footer">
        </footer>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script async src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script async src="/javascript/main.js"></script>
    </body>
</html>