<!DOCTYPE html>
<html>
<head>
    <title>GPL | Password Reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/passReset.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>
<div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
    <header class="banner" role="banner">

        <span><img src="/images/header-left.jpg" height="60" class="pull-left"/><img class="logo" src="/images/gpllogo.png" height="50" class="pull-left"/><span class="h2 gplheadertext">graVITas Premier League 2.0</span><img src="/images/header-right.jpg" height="60" class="pull-right"/></span>

    </header>
</div>

<div id="navbar-wrapper">
    <nav id="navbar" ></nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 shadow-effect">
            <div class="col-sm-8 col-sm-offset-2 jk">
                <div  class="page-header text-left">
                    <h1>Forgot password<br><small class="small-class">graVITas Premier League 2.0, graVITas 2015</small></h1>
                </div>
                <div class="col-sm-10 text-info">
                    <p>
                        Submit your registered e-mail id below and a password reset link will be sent to it. <br>
                        (Not valid for Socially logged in users)
                    </p>
                </div>
                <form class="form-horizontal col-md-offset-1 col-md-8">
                    <div class="form-group">
                        <label for="teamName" class="col-md-3 control-label email">Team</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="team" placeholder="Team Name" name="team">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label email">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn btn-default" onclick="alert('Password Reset link will be sent to your email-id.')">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
</footer>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js(.) scripts/plugins.js -->

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascript/main.js"></script>

</body>
</html>
