<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="/stylesheets/gplamain.css" rel="stylesheet" type="text/css"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57505316-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="http://res.cloudinary.com/gpl/image/upload/general/small.png"
                                     style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img
                                src="http://res.cloudinary.com/gpl/image/upload/general/ieee.png" style="height:40px;"
                                align="center"/></a></li>

            </ul>
            <ul class="right">
                <li><a href="/register">Register</a></li>
                <li class="has-dropdown not-click" style="border-radius: 5px">
                    <a href="#" style="border-radius: 5px">Sign In</a>
                    <ul class="dropdown" style="width:300%;">
                        <form method="post" action="/login">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        Back
                                    </a>
                                </h5>
                            </li>


                            <li>

                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="team" class="right inline" style="color: white;">Team
                                                Name: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" name="name" placeholder="Team Name" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>


                                <!--Username/Team Name -->


                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row" style="margin-top: 2%">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="pass" class="right inline"
                                                   style="color: white;">Password: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="pass" placeholder="Password" name="password"
                                                   value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>

                                <!-- password-->


                            </li>
                            <li>
                                <input type="submit" align="center" class="button [tiny small large]" value="Login"
                                       id="button" name="login"
                                       style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                            </li>

                            <li class="divider"><a href="/forgot/password">Forgot Password?</a></li>
                        </form>
                    </ul>
                </li>
            </ul>

        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 0 0 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0) ">
            <h3 style="text-align: center; color: #ffffff;">Forgot Password</h3>
            <br/><br/>

            <form name="forgot" action="/forgot/password" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

                <div class="row">
                    <div class="small-3 medium-3 large-3 columns">
                        <label for="team" class="right inline" style="color: white;">Team Name: </label>
                    </div>
                    <div class="small-6 medium-6 large-6 columns left">
                        <input type="text" id="team" placeholder="Team Name" name="team_name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 medium-3 large-3 columns">
                        <label for="team" class="right inline" style="color: white;">Email ID: </label>
                    </div>
                    <div class="small-6 medium-6 large-6 columns left">
                        <input type="email" id="email" placeholder="someone@example.com" name="email"/>
                    </div>
                </div>
                <br/>
                <input type="submit" style="background: rgba(30,30,30,1);border-radius: 5px;" align="center"
                       class="button [radius round]" value="Submit"/>
            </form>
        </div>

    </div>
</div>
<!-- content -->

<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img
                                src="http://res.cloudinary.com/gpl/image/upload/general/gravitas.png"
                                style="height:45px;"/></a></li>
                <li><a href="http://vit.ac.in/"><img
                                src="http://res.cloudinary.com/gpl/image/upload/general/vit_logo_white.png"
                                style="height:40px;padding-top: 5px" align="center"/></a>
                </li>
            </ul>
            <ul class="right">
                <li><a href="/developer"><img src="http://res.cloudinary.com/gpl/image/upload/general/symbol.png"
                                              style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a>
                </li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>
