<!DOCTYPE html>
<html>
<head>
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background:url('/images/background.png');font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs" style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li class="current"><a href="#" style="color: lightsteelblue;">Home</a></li>
            <li><a href="/rules" style="color:#ffffff;">Rules</a></li>
            <li><a href="/howtoplay" style="color:#ffffff;">How To Play</a></li>
            <li><a href="/leaderboard" style="color:#ffffff;">Leader Board</a></li>
            <li><a href="/sponsors" style="color:#ffffff;">Sponsors</a> </li>
        </ul>
    </div>
    <div class="row" align="center">

        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
             <h4 style="color: white;text-align: left;">Team Roster</h4>
            <a href="#" class="button small [radius round]" style="border-radius: 5px;background: rgba(30,30,100,0.5);float: right;">Change/Create</a>
        </div>
    </div>
        <div class="row" align="left">
            <div class="small-5 medium-5 large-5 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:10%; ">
                <h4 style="color: white;text-align: left;">Team Statistics</h4>
            </div>

            <div align="right">
                <div class="small-5 medium-5 large-5 columns"
                     style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:10%;margin-left: 16.5%">
                    <h4 style="color: white;text-align: left;">Upcoming Matches</h4>
                </div>
            </div>
        </div>
    <!-- content -->
</div>
<footer style="bottom:0; position:relative;">
    <div class="large-12 top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li style="display:block;"><a href="#">IEEE-CS VIT Main</a></li>
                <li style="display:block;"><a href="#">graVITas</a></li>
            </ul>
            <ul class="right">

                <li><a href="#">Privacy Policy</a></li>
            </ul>

        </section>
        <p style="text-align: center; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>