<!DOCTYPE html>
<!-- Use of javascript is required to switch frames. Content and Javascript part is left to the respective teams -->
<html>
<head>
    <title>
        GPL
    </title>
    <script type="text/javascript" src="/javascript/htp.js">
    </script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>
</head>
<body>
<div id="header">
    <ul id="rightbox">
        <a href="/login"><li class="egder">Login</li></a>
        <a href="/register"><li>Sign Up</li></a>
    </ul>
    <ul id="leftbox">
        <a href="/myteam"><li class="egdel">My Team</li></a>
        <a href="/next_match"><li>Next Match</li></a>
        <a href="/points"><li>Points </li></a>                                                                      <!--Get Player points from Server-->
        <a href="/league"><li>Standings</li></a>
    </ul>
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>



<div id="m">
    <div id="leftm">
        <ol>
            <a onclick="ch(0);" href="#" id="temp" name="0">
                <li>About Fantasy Premier League</li>
            </a>
            <a onclick="ch(1);" href="#" id="nottemp" name="1">
                <li>Creating a Team</li>
            </a>
            <a onclick="ch(2);" href="#" id="nottemp" name="2">
                <li>Selecting an XI</li>
            </a>
            <a onclick="ch(3);" href="#" id="nottemp" name="3">
                <li>Earing Points</li>
            </a>
            <a onclick="ch(4);" href="#" id="nottemp" name="4">
                <li>Making Substitutions</li>
            </a>
            <a onclick="ch(5);" href="#" id="nottemp" name="5">
                <li>Leagues</li>
            </a>
            <a onclick="ch(6);" href="#" id="nottemp" name="6">
                <li>Winning</li>
            </a>
            <a onclick="ch(7);" href="#" id="nottemp" name="7">
                <li>FAQ</li>
            </a>
            <li style="background:rgba(255,255,255,0.1);box-shadow: inset 0 0 0 rgba(0,0,0,0);"><img
                        src="/images/ieeecs logo.gif"/></li>

        </ol>
    </div>
    <div id="rightm">
        <iframe id="frlnk" src="/howtoplay/about"></iframe>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<div id="footer"><p>IEEE CS</p></div>
</body>
</html>
