<!DOCTYPE html>
<html>
<head>
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/gplmain.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body>
<header id="top">
    <ul class="signin">
        <li>Sign In</li>
    </ul>
</header>
<div class="content">
    <article class="center">
        <img src="/images/gplmain2.gif" class="logo"/>

        <p>Feel what it is like to be an owner!</p>
        <label><input type="button" value="Get Started" class="getstarted"/></label>
    </article>
</div>
</body>
</html>