<!DOCTYPE html>

<html>
<head>
    <title>
        GPL
    </title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>
</head>
<body>
<div id="header">
    <ul id="rightbox">
        <a href="/login">
            <li class="egder">Login</li>
        </a>
        <a href="/register">
            <li>Sign Up</li>
        </a>
    </ul>
    <ul id="leftbox">
        <a href="/team">
            <li class="egdel">My Team</li>
        </a>
        <a href="/next_match">
            <li>Next Match</li>
        </a>
        <a href="/points">
            <li>Points</li>
        </a> <!--Get Player points from Server-->
        <a href="/league">
            <li>Standings</li>
        </a>
    </ul>
</div>

<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>
<div class="im">
    <img src="/images/gplmain2.gif"/>
</div>


<!--<img class="back" src="/images/background.jpg"/>-->

<div id="bar">
    <!--Need better content for white box-->
    <table>


        <tr>
            <td style="padding-left:0em;"><p>Feel what it is to be an owner.....</p></td>
        </tr>
        <tr>
            <td>1.Create your team.</td>
            <td style="padding-left:3em;">2.Earn points.</td>
            <td style="padding-left:5em;">3.Win Prizes.</td>
        </tr>
        <tr>
            <p> IEEE-Computer Society presents the first ever GRAVITAS PREMIER LEAGUE </p>

        </tr>


    </table>

</div>
<div id="Signupb">
    <!--Javascript Required for login -->
    <input type="Button" value="Sign Up" onclick="window.location.href='/register'">
    <input type="Button" value="Login" onclick="window.location.href='/login'">

</div>
<footer id="footer">
    <p>IEEE CS</p>
</footer>
<!--<div id="trap2">
</div>-->
</body>
</html>
