<!-- /*
*  GraVITas Premier League
*  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -->
<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="/stylesheets/gplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="top-bar" data-topbar style="overflow: visible;" role="navigation">
    <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/logo.png" style="height:45px;"/></a></li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
        <img src="/ieeecs logo.gif" style="height:45px" align="center"/>
        <ul class="right">
                <li class="has-dropdown not-click" style="border-radius: 5px">
                    <a href="#" style="border-radius: 5px">Sign In</a>
                    <ul class="dropdown" style="width:300%;">
                        <form method="post" action="/login">
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        Back
                                    </a>
                                </h5>
                            </li>


                            <li>

                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="team" class="right inline" style="color: white;">Team
                                                Name: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" name="team_name" placeholder="Team Name"
                                                   value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>


                                <!--Username/Team Name -->


                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row" style="margin-top: 2%">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="pass" class="right inline"
                                                   style="color: white;">Password: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="p
                              ass" placeholder="Password" name="password" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>

                                <!-- password-->


                            </li>
                            <li>
                                <input type="submit" align="center" class="button [tiny small large]" value="Login"
                                       id="button" name="login"
                                       style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                            </li>

                            <li class="divider"><a href="/forgot">Forgot Password?</a></li>
                        </form>
                    </ul>
                </li>
            </ul>

        </section>
    </div>
    <!-- top bar -->
    <br />
    <div class="row" align="center">

        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;border:5px;box-shadow: inset 20px 0 50px -10px rgba(0,0,0,0.4), inset -20px 0 50px -10px rgba(0,0,0,0.4),inset 0 -20px 50px rgba(0,0,0,0.4),inset 0 20px 50px rgba(0,0,0,0.4);">
            <img src="/images/logo.png" style="width:50%;margin:3%;"/>

            <p style="margin-top:-5%;font-family: 'PT Sans', sans-serif;font-size: 180%;color: white;font-weight:normal ">
                This <b>graVITas</b>, feel what it is like to be the owner of your own cricket team.</p>
            <a href="/interest" class="button [radius round]"
               style="border-radius: 5px;background: rgba(30,30,30,0.5);">Get
                Started</a>
        </div>
    </div>

</div>
<!-- content -->
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/developers">Developers</a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>