<!-- TODO - Add Login, Favicon Change
-->
<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
    <html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/index.css"/>
    </head>
    <body>
        <div class="main-content">
            <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
                <header class="banner" role="banner">
                    <span>
                        <img src="http://res.cloudinary.com/gpl/general/header-left.jpg" height="60" class="pull-left"/>
                        <img class="logo" src="http://res.cloudinary.com/gpl/general/gpllogo.png" height="50"/>
                        <span class="h2 gplheadertext">graVITas Premier League 2.0</span>
                        <img src="http://res.cloudinary.com/gpl/general/header-right.jpg" height="60" class="pull-right"/>
                    </span>
                </header>
            </div>
            <div id="navbar-wrapper">
                <nav id="navbar"></nav>
            </div>
            <!-- Carousel
            ================================================== -->
            <section id="myCarousel" class="carousel slide carousel-fade " data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="one item active ">
                        <div class="container-fluid ">
                            <div class="carousel-caption caption-container">
                                <h1>graVITas Premier League 2.0</h1><br>
                                <p>Come and be a part of the biggest online event this Gravitas. </p>

                                <p class="btn-group"><a class="btn btn-lg btn-default" href="/register" role="button">Register</a>
                                    <a class="btn btn-lg btn-default" href="/login" role="button">Login</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="two item">
                        <div class="container-fluid">
                            <div class="carousel-caption caption-container">
                                <h1>Challenge yourself !</h1><br>

                                <p>Build and manage your own T20 cricket team.</p><br>
                                <p><a class="btn btn-lg btn-default" href="/rules" role="button">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="three item">
                        <div class="container-fluid">
                            <div class="carousel-caption caption-container">
                                <h1>Win Prizes !</h1><br>

                                <p>Prize money upto 22 grand.</p><br>
                                <p><a class="btn btn-lg btn-default" href="/home/prizes" role="button">Prizes</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </section>
            <!-- /.carousel -->
            <section></section>
        </div>
        <!-- /.container -->
        <!-- FOOTER -->
        <footer id="footer" class="footer"></footer>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js(.) scripts/plugins.js -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascript/main.js"></script>
        <!-- endbuild -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <!-- endbuild -->
    </body>
</html>