<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=Gravitas/Main.ejs" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
</body>
</html>