<!--
*  GraVITas Premier League <gravitaspremierleague@gmail.com>
*  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stats | GPL</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    </head>
    <body>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrapper" class="container-fluid">
            <div id="side-navigation">
                <div id="sidenav" class="affix col-sm-2 col-xs-4 hidden-xs full-height">
                    <div class="container-fluid">
                        <ul class="nav nav-pills nav-stacked wrapper  ">
                            <li>
                                <img src="http://res.cloudinary.com/gpl/general/gpllogo.png" class="img-responsive" style="margin: 5px;padding-right:10px;">
                            </li>
                            <li role="presentation"><a href="/home">Home</a></li>
                            <li role="presentation" class="active"><a href="/home/dashboard">Dashboard</a></li>
                            <li role="presentation"><a href="/home/team">Team</a></li>
                            <li role="presentation"><a href="/home/matches">Matches</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-content" class="col-xs-12 col-sm-10 col-sm-offset-2 full-width">
                <div id="top-navigation"></div>
                <!-- TODO - info display -->
            </div>
        </div>
    </body>
</html>