<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interest | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/gplmain.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/interest.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <script src="/javascript/int.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57505316-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">

<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-offset-2 shadow-effect">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header rules-header">
                    <h1><img src="images/gpllogo.png" class="img-responsive gpllogo centered">graVITas Premier League 2.0</h1>
                </div>

                <form name="int" action="/interest" method="post">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                    <fieldset>
                        <legend>Player Details</legend>
                        <div class="form-group">

                            <label for="team">Name:<i
                                        style="color:red;">*</i> </label>
                            <input type="text" id="team" class="form-control" placeholder="Name" name="name"/>
                        </div>



                        <!--Username/Team Name -->


                        <div class="form-group">
                            <label for="mob" >Mobile:<i style="color:red;">*</i> </label>
                            <input type="tel" id="mob" class="form-control" placeholder="9876543210" name="phone"/>
                        </div>
                        <!-- password-->
                        <div class="form-group">
                            <label for="email" >Email:<i
                                        style="color:red;">*</i> </label>
                            <input type="email" id="email" class="form-control" placeholder="example@domain.com" name="email"/>
                        </div>

                        <input type="submit" id="button" class="btn btn-primary"
                               align="center"
                               name="button"
                               value="Submit"
                               onclick="valid()"/>
            </div>
        </div>
        </fieldset>


        </form>

    </div>

</div>

</div>

</div>

<footer>
    <div class="container-fluid">
        <div class="col-xs-4">
            <!--- Change gravitas logo to 2015 -->
            <img src="images/logo_gravitas_15.jpg" height="50" class="img-responsive footer-logo pull-left">
        </div>
        <div class="col-xs-4">
            <img src="images/ieeecs.png" height="50" class="img-responsive footer-logo centered">
        </div>
        <div class="col-xs-4">
            <img src="images/vit_logo_white.png" height="50" class="img-responsive footer-logo pull-right">
        </div>
    </div>

</footer>



<!-- footer -->
</body>
</html>
