<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interest | GPL</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <script async type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script async type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/interest.css"/>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
        <script src="/javascript/int.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body id="interest">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 shadow-effect" id="form-container">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="http://www.facebook.com/ieeecsvit" target="_blank">
                                <img src="images/logo_nbg.png" class="img-responsive pull-left padding-2 centered margin-top-4">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="http://www.facebook.com/gravitaspremierleague" target="_blank">
                                <img src="http://res.cloudinary.com/gpl/general/gpllogo.png" class="img-responsive img-60 padding-2 centered">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="http://www.vitgravitas.com" target="_blank">
                                <img src="/images/gravitas'15.png" class="img-responsive padding-2 pull-right margin-top-4">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="centered">
                            <h1>graVITas Premier League 2.0</h1>
                            <p class="text-center"><span class="lead">Coming Soon!</span><br> To keep yourself updated fill in
                                the form!</p>
                        </div>
                        <form name="int" action="/interest" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                            <div class="form-group">
                                <label for="team">Name:<i
                                            style="color:red;">*</i> </label>
                                <input type="text" id="team" class="form-control" placeholder="Name" name="name"/>
                            </div>
                            <div class="form-group">
                                <label for="team">Registration Number: (VIT Students Only)</label>
                                <input type="text" id="team" class="form-control"
                                       value="NA" name="regno"/>
                            </div>
                            <!--Username/Team Name -->
                            <div class="form-group">
                                <label for="mob">Mobile:<i style="color:red;">*</i> </label>
                                <input type="tel" id="mob" class="form-control" placeholder="9876543210" name="phone"/>
                            </div>
                            <!-- password-->
                            <div class="form-group">
                                <label for="email">Email:<i
                                            style="color:red;">*</i> </label>
                                <input type="email" id="email" class="form-control" placeholder="example@domain.com"
                                       name="email"/>
                            </div>
                            <input type="submit" id="button" class="btn btn-primary btn-lg centered"
                                   name="button"
                                   value="Submit"
                                   onclick="valid()"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <footer id="footer" class="footer">
        </footer>-->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascript/main.js"></script>
    </body>
</html>