<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
    <html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | GPL</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/min/login.min.css'/>
        <link rel="stylesheet" href="/stylesheets/min/main.min.css">
        <style>
            .page-header {
                border: none;
                padding-bottom: 0;
                padding-top: 10px;
            }
            html{
              overflow: hidden;
            }

            @media all and (max-width:768px){
              html{
                overflow: scroll;
              }
            }
        </style>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body>
        <% include partials/headerNavbar.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 shadow-effect">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class=" page-header">
                            Login<br>
                            <small class="omb_authTitle">
                                Don't have an account? Make one <a href="/register">here</a>
                            </small>
                            <br>
                            <small class="omb_authTitle">
                                Login with one of your social accounts <a href="/social/login">here</a>
                            </small>
                        </h1>
                        <%if(msg){%>
                            <div id="msg" class="alert alert-danger alert-dismissible fade in" role="alert">
                                <strong>Oops!</strong> <%=msg%>
                            </div>
                        <%}%>
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12 col-sm-6">
                                <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" name="team" placeholder="Team Name" required autofocus>
                                    </div>
                                    <span class="help-block"></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                    </div>
                                    <span class="help-block"></span>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                </form>
                                <small>
                                    <span class="omb_forgotPwd pull-left">
                                        <a href="/forgot/password">Forgot password?</a>
                                    </span>
                                    <span class="omb_forgotPwd pull-right">
                                        <a href="/forgot/user">Forgot username?</a>
                                    </span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script async src="/javascript/min/main.min.js"></script>
    </body>
</html>
