<!DOCTYPE html>

<html>
<head>
    <title>
        GPL
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>
</head>
<body>



<div id="header">
    <ul id="rightbox">
        <a href="/login"><li class="egder">Login</li></a>
        <a href="/register"><li>Sign Up</li></a>
    </ul>
    <ul id="leftbox">
        <a href="/myteam"><li class="egdel">My Team</li></a>
        <a href="/next_match"><li>Next Match</li></a>
        <a href="/points"><li>Points </li></a>                                                                      <!--Get Player points from Server-->
        <a href="/league"><li>Standings</li></a>
    </ul>
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>
<div id="signup" style="text-align:center;">
    <form>

        <fieldset class="login">
            <table>
                <tr><td><label>E-Mail:</label></td> <td><input  class="text" type="email" value="" /></td></tr>
                <tr><td><label>Password: </label></td><td> <input  class="text" type="password" value="" /></td></tr>
                <tr><td></td><td><label><button type="submit" value="Submit">Login</button></label></td>
            </table>
        </fieldset>

        <fieldset class="noacc">
            <p> Don't have an account?<br/> <br/>Sign up for free!</p><br/>
            <input type="button" class="button" onclick="window.location.href='/register'" value="Sign Up"/>
        </fieldset>
        <img class="ieee" src="/images/ieeecs%20logo.gif" style="margin-top: 0;"/>
    </form>

</div>


<footer id="footer"style="top:7em;"><p>IEEE CS</p></footer>
</body>
</html>
