<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | GPL</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>


<div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
    <header class="banner" role="banner">

        <span><img src="/images/header-left.jpg" height="60" class="pull-left"/>
            <img class="logo" src="/images/gpllogo.png" height="50" class="pull-left"/>
            <span class="h2 gplheadertext">graVITas Premier League 2.0</span>
            <img src="/images/header-right.jpg" height="60" class="pull-right"/>
        </span>

    </header>
</div>

<div id="navbar-wrapper">
    <nav id="navbar"></nav>
</div>
<div class="container">
    <div class="col-sm-offset-1 col-sm-10 shadow-effect">
        <div class="omb_login">
            <h3 class="omb_authTitle">Login or <a href="/register">Sign up</a></h3>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <div class="col-xs-4 col-sm-2">
                    <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="/auth/twitter" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter visible-xs"></i>
                        <span class="hidden-xs">Twitter</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="/auth/google" class="btn btn-lg btn-block omb_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3 omb_loginOr">
                <div class="col-xs-12 col-sm-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="team" placeholder="Team Name">
                        </div>
                        <span class="help-block"></span>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    </form>
                </div>
            </div>
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-3">
                    <p class="omb_forgotPwd">
                        <a href="/forgot/password">Forgot password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
</footer>

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js(.) scripts/plugins.js -->

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascript/main.js"></script>

<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->

<!-- endbuild -->
</body>
</html>