<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
    <html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | GPL</title>

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
        <link rel='stylesheet' href='/stylesheets/login.css'/>
        <link rel="stylesheet" href="/stylesheets/main.css">

        <style>
            body {
                overflow-y: auto !important;
            }

            .page-header {

                border: none;
                padding-bottom: 0;
                padding-top: 10px;
            }
        </style>
    </head>
    <body>
        <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
            <header class="banner" role="banner">
                <span>
                    <img src="/images/header-left.jpg" height="60" class="pull-left"/>
                    <img class="logo" src="/images/gpllogo.png" height="50" class="pull-left"/>
                    <span class="h2 gplheadertext">graVITas Premier League 2.0</span>
                    <img src="/images/header-right.jpg" height="60" class="pull-right"/>
                </span>
            </header>
        </div>
        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 shadow-effect">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class=" page-header">

                            Login<br>
                            <small class="omb_authTitle">Don't have an account? Make one <a href="/register">here</a>
                            </small>
                            <br>
                            <small class="omb_authTitle">Login with one of your social accounts <a href="/social/login">here</a>
                            </small>
                        </h1>


                        <div class="row omb_row-sm-offset-3">
                        <div class="col-xs-12 col-sm-6">
                            <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" name="team" placeholder="Team Name">
                                </div>
                                <span class="help-block"></span>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <span class="help-block"></span>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                            </form>
                            <small>                                          <span class="omb_forgotPwd pull-left">
                                <a href="/forgot/password">Forgot password?</a>
                            </span>
                            <span class="omb_forgotPwd pull-right">
                                <a href="/forgot/user">Forgot username?</a>
                            </span></small>

                        </div>

                        </div>

                    </div>
                    </div>
                </div>
            </div>

        <footer id="footer" class="footer"></footer>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js(.) scripts/plugins.js -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascript/main.js"></script>
        <!-- endbuild -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <!-- endbuild -->
    </body>
</html>