<!DOCTYPE html>
<html>
<head>
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background:url('/images/background.png');font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="font-family: 'PT Sans', sans-serif;overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li><a href="/home" style="color: #ffffff;">Home</a></li>
            <li><a href="/rules" style="color:#ffffff;">Rules</a></li>
            <li><a href="/leaderboard" style="color:#ffffff;">Leader Board</a></li>
            <li><a href="/sponsors" style="color:#ffffff;">Sponsors</a></li>
        </ul>
    </div>
    <div class="large-12 small-12 columns" style="margin-top: 2%;">
        <div class="large-8 small-12 left"
             style="background:rgba(200,200,200,0.5); border: none;border-radius: 5px;margin-left: 2%;">
            <h4 style="border-radius:5px; background-color: rgba(30,30,30,0.8);padding:1%;color: #ffffff;margin-top: 0;text-align: center;width: 100%;">
                Previous Match Commentary</h4>

            <p align="left"
               style="color: #de2b0f;opacity: 0.7;line-height: 95%;padding: 2%;min-height: 50em;overflow-y: scroll;">
                Commentary
            </p>
        </div>
        <div class="large-3 small-12 right"
             style="background:rgba(200,200,200,0.5); border: none;border-radius: 5px;margin-right: 2%;">
            <h4 style="border-radius:5px; background-color: rgba(30,30,30,0.8);padding:1%;color: #ffffff;margin-top: 0;text-align: center;width: 100%;">
                Previous Matches</h4>

            <p align="center" style="color: #de2b0f;opacity: 0.7;line-height: 95%;padding: 2%;">
                Dates
            </p>
        </div>
    </div>
    <div class="large-12 small-12 columns" style="margin-top: 2%;">
        <div class="large-8 small-12 left"
             style="background:rgba(200,200,200,0.5); border: none;border-radius: 5px;margin-left: 2%;">
            <h4 style="border-radius:5px; background-color: rgba(30,30,30,0.8);padding:1%;color: #ffffff;margin-top: 0;text-align: center;width: 100%;">
                Next Match Playing XI</h4>

            <p align="left" style="color: #de2b0f;opacity: 0.7;line-height: 95%;padding: 2%;">
                Playing Team
            </p>
        </div>
        <div class="large-3 small-12 right"
             style="background:rgba(200,200,200,0.5); border: none;border-radius: 5px;margin-right: 2%;">
            <h4 style="border-radius:5px; background-color: rgba(30,30,30,0.8);padding:1%;color: #ffffff;margin-top: 0;text-align: center;width: 100%;">
                Upcoming Matches</h4>

            <p align="center" style="color: #de2b0f;opacity: 0.7;line-height: 95%;padding: 2%;">
                Dates
            </p>
        </div>
    </div>
</div>
<!--content-->
<footer style="bottom:0; position:relative;">
    <div class="large-12 top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li style="display:block;"><a href="#">IEEE-CS VIT Main</a></li>
                <li style="display:block;"><a href="#">graVITas</a></li>
            </ul>
            <ul class="right">

                <li><a href="#">Privacy Policy</a></li>
            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>