<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/playerselect.css"/>

    <!-- endbuild -->
</head>
<body ng-app="formApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
    <header class="banner" role="banner">

        <span><img src="/images/header-left.jpg" height="60" class="pull-left"/><img class="logo pull-left"
                                                                                     src="/images/gpllogo.png"
                                                                                     height="50"/><span
                    class="h2 gplheadertext">graVITas Premier League 2.0</span><img src="/images/header-right.jpg"
                                                                                    height="60"
                                                                                    class="pull-right"/></span>


    </header>
</div>

<div id="navbar-wrapper">
    <nav id="navbar"></nav>
</div>

<!-- Add your site or application content here -->

<div id="main" class="container-fluid" ng-controller="PlayerController">
    <div class="col-md-8 col-md-offset-2 shadow-effect ">
        <div class=" page-header row">
            <h1>
                <span class="col-xs-7">Players</span>
          <span class="col-xs-5" id=" searchBoxContainer">
            <input type="text" id="searchBox" class="form-control pull-right" placeholder="search"
                   ng-model="searchText"/></span>
            </h1>
        </div>
        <div class="row">

            <div class="col-sm-4">

                <div class="container-fluid">


                    <ul class="list-group ">
                        <li class="list-group-item" ng-repeat="selectedPlayer in computeSelectedPlayers()"
                            ng-class="{coachactive: isCoach(selectedPlayer)}">
                            {{$index + 1}}.
                            {{selectedPlayer.name}}<i class="glyphicon glyphicon-remove pull-right close-icon"
                                                      ng-click="toggleActive(selectedPlayer)"></i>

                        </li>
                    </ul>

                    <p>{{alertMessage}}</p>

                    <p><strong>Remaining Amount: </strong><span>{{remaining() | number}}</span></p>


                    <form name="playersForm" method="post"
                          action="http://postcatcher.in/catchers/55d8413d8190a70300001668">

                        <input type="hidden" ng-repeat="selectedPlayer in computeSelectedPlayers()"
                               id="{{'t'+($index+1)}}" name="{{'p'+($index+1)}}" value="{{selectedPlayer._id}}"/>


                        <input type="submit" class="btn btn-primary" ng-class="{disabled:isNotValid()}" value="Submit"
                               ng-disabled="isNotValid()"/>
                    </form>

                </div>
            </div>

            <div class="col-sm-8">
                <form>
                    <ul class="list-group media-list">
                        <h2>Batsmen</h2>
                        <li ng-repeat="player in batsmen|filter:searchText" class="media list-group-item player"
                            ng-click="toggleActive(player)"
                            ng-class="{'batsmanactive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                            unselectable="on">

                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>

                            {{player.name}}<span class="pull-right">{{player.price | number}}</span>
                        </li>

                        <h2>Bowlers</h2>
                        <li ng-repeat="player in bowlers|filter:searchText" class="media list-group-item player"
                            ng-click="toggleActive(player)"
                            ng-class="{'bowleractive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                            unselectable="on">

                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>

                            {{player.name}}<span class="pull-right">{{player.price | number}}</span>
                        </li>

                        <h2>All Rounders</h2>
                        <li ng-repeat="player in allrounders|filter:searchText" class="media list-group-item player"
                            ng-click="toggleActive(player)"
                            ng-class="{'allrounderactive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                            unselectable="on">

                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>

                            {{player.name}}<span class="pull-right">{{player.price | number}}</span>
                        </li>


                        <h2>Coaches</h2>
                        <li ng-repeat="player in coaches|filter:searchText" class="media list-group-item player"
                            ng-click="toggleActive(player)"
                            ng-class="{'coachactive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                            unselectable="on">

                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>

                            {{player.name}}<span class="pull-right">{{player.price | number}}</span>
                        </li>
                    </ul>


                </form>


            </div>


        </div>

    </div>
</div>
<footer id="footer" class="footer">
</footer>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angularjs/angular.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script type="text/javascript">
    var myApp = angular.module('formApp', []);
    function PlayerController($scope) {


        $scope.limitExceeded = false;

        //TODO: change data to dynamic variables
        $scope.batsmen = [
            {
                name: 'Adam Gilchrist',
                price: 400,
                image: '/images/god.jpeg',
                _id: 'a1',
                active: false
            }, {
                name: 'M S Dhoni',
                price: 250,
                image: '/images/god.jpeg',
                _id: 'a2',
                active: false
            },
            {
                name: 'Rahul Dravid',
                price: 300,
                image: '/images/god.jpeg',
                _id: 'a3',
                active: false
            }, {
                name: 'Ricky Ponting',
                price: 400,
                image: '/images/god.jpeg',
                _id: 'a4',
                active: false
            }

        ];

        $scope.bowlers = [
            {
                name: 'Brett Lee',
                price: 220,
                image: '/images/god.jpeg',
                _id: 'b1',
                active: false
            }, {
                name: 'Stuart Broad',
                price: 230,
                image: '/images/god.jpeg',
                _id: 'b2',
                active: false
            },
            {
                name: 'Shane Warne',
                price: 600,
                image: '/images/god.jpeg',
                _id: 'b3',
                active: false
            }];

        $scope.allrounders = [
            {
                name: 'Saurav Ganguly',
                price: 490,
                image: '/images/god.jpeg',
                _id: 'c1',
                active: false
            },
            {
                name: 'Shane Watson',
                price: 600,
                image: '/images/god.jpeg',
                _id: 'c2',
                active: false
            }, {
                name: 'Sachin Tendulkar',
                price: 300,
                image: '/images/god.jpeg',
                _id: 'c3',
                active: true
            }
        ];

        $scope.coaches = [
            {
                name: 'Gary Kirsten',
                price: 490,
                image: '/images/god.jpeg',
                _id: 'd1',
                active: false
            },
            {
                name: 'Kapil Dev',
                price: 420,
                image: '/images/god.jpeg',
                _id: 'd2',
                active: false
            },
            {
                name: 'Greg Chappel',
                price: 420,
                image: '/images/god.jpeg',
                _id: 'd3',
                active: false
            }
        ]

        $scope.nSelectedPlayers = {
            batsmen: 0,
            bowlers: 0,
            allrounders: 0,
            coaches: 0,
            total: 0

        }

        $scope.computeSelectedPlayers = function () {
            $scope.nSelectedPlayers = {
                batsmen: 0,
                bowlers: 0,
                allrounders: 0,
                coaches: 0,
                total: 0

            }

            var a = [];
            angular.forEach($scope.batsmen, function (s) {
                if (s.active) {
                    a.push(s);
                    $scope.nSelectedPlayers.batsmen++;
                }
            });
            angular.forEach($scope.bowlers, function (s) {
                if (s.active) {
                    a.push(s);
                    $scope.nSelectedPlayers.bowlers++;
                }
            });

            angular.forEach($scope.allrounders, function (s) {
                if (s.active) {
                    a.push(s);
                    $scope.nSelectedPlayers.allrounders++;
                }
            });

            angular.forEach($scope.coaches, function (s) {
                if (s.active) {
                    a.push(s);
                    $scope.nSelectedPlayers.coaches++;
                }
            });
            $scope.nSelectedPlayers.total = a.length;
            return a;

        }
        $scope.searchText = "";
        $scope.toggleActive = function (s) {

            if (s.active || $scope.canBeBought(s)) {
                s.active = !s.active;
            }


        };

        // Helper method for calculating the total price

        $scope.total = function () {

            var total = 0;

            // Use the angular forEach helper method to
            // loop through the services array:

            angular.forEach($scope.computeSelectedPlayers(), function (s) {
                if (s.active) {
                    total += s.price;
                }
            });

            return total;
        };

        $scope.isCoach = function (player) {
            return player._id[0] == 'd';
        }

        $scope.alertMessage = "";

        $scope.isNotValid = function (players) {
            $scope.alertMessage = "";

            var valid = true;
            var MAX_PLAYERS = 15;


            if ($scope.nSelectedPlayers.total < MAX_PLAYERS + 1) {

                var remainingPlayers = MAX_PLAYERS - ($scope.nSelectedPlayers.total - $scope.nSelectedPlayers.coaches);
                if (remainingPlayers == 1) {
                    $scope.alertMessage = "Please select 1 player";
                }
                else if (remainingPlayers > 0) {
                    $scope.alertMessage = "Please select " + remainingPlayers + " players";
                }

                if ($scope.nSelectedPlayers.coaches < 1) {
                    $scope.alertMessage += " and 1 coach.";
                    if (remainingPlayers == 0) {
                        $scope.alertMessage = "Please select a coach for your team";
                    }

                }


            }

            else {


                if ($scope.nSelectedPlayers.coaches != 1) {
                    $scope.alertMessage = "Please select exactly one coach.";
                    if ($scope.nSelectedPlayers.coaches < 1) {
                        $scope.alertMessage = "Please select a coach for your team";
                    }
                }


                if ($scope.nSelectedPlayers.total > MAX_PLAYERS + 1) {
                    $scope.alertMessage = "You need to select exactly 15 players and 1 coach.";
                }

            }


            if ($scope.nSelectedPlayers.total == MAX_PLAYERS + 1 && $scope.nSelectedPlayers.coaches == 1) {
                valid = true;
            }
            else {
                valid = false;
            }
            if (valid) {
                $scope.alertMessage = "Alright ! You are good to go.";
            }
            //if(!valid){
            //  window.alert(alertMessage);
            //}


            return !valid;


        };

        $scope.remaining = function () {
            var r = 10000 - $scope.total();


            return r;
        };

        $scope.canBeBought = function (player) {
            return ($scope.remaining() >= player.price);
        }
    }
    ;
    myApp.controller('PlayerController', ['$scope', PlayerController]);
</script>

<!-- endbuild -->
<script src="/javascript/main.js"></script>
</body>
</html>
