<!DOCTYPE html>
<html>
<head>
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="/stylesheets/gplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
</head>
<body style="background:url('/images/background.png');font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <a href="/index" style="border-radius: 5px">Log Out</a>

            </ul>

        </section>
    </div>
    <!-- top bar -->

    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="#">IEEE-CS VIT Main</a></li>
                <li style="display:block;"><a href="#">graVITas</a></li>
            </ul>
            <ul class="right">

                <li><a href="#">Privacy Policy</a></li>
            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>