<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Players | GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/playerselect.css"/>
        <!-- endbuild -->
    </head>
    <body ng-app="formApp">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
            <header class="banner" role="banner">
                <span>
                    <img src="http://res.cloudinary.com/gpl/general/header-left.jpg" height="60" class="pull-left"/>
                    <a href="http://www.facebook.com/gravitaspremierleague" target="_blank">
                        <img class="logo pull-left" src="http://res.cloudinary.com/gpl/general/gpllogo.png" height="50"/>
                        <span class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span>
                    </a>
                    <img src="http://res.cloudinary.com/gpl/general/header-right.jpg" height="60" class="pull-right"/>
                </span>
            </header>
        </div>

        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>

        <!-- Add your site or application content here -->
        <div class="container" ng-controller="PlayerController" ng-hide="">
            <div class="col-md-8 col-md-offset-2 shadow-effect " id="main">
                <div class="col-md-10 col-md-offset-1">
                    <div class=" page-header row">
                        <h1>
                            <span class="col-xs-7">Players</span>
                  <span class="col-xs-5" id=" searchBoxContainer">
                    <input type="text" id="searchBox" class="form-control pull-right" placeholder="search"
                           ng-model="searchText"/></span>
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 aside">
                            <div class="container-fluid affix playerlistcontainer card card-green" id="players">
                                <div class="card-content">
                                    <ul class="list-group">
                                    <li class="list-group-item container-fluid selectedPlayer"
                                        ng-repeat="selectedPlayer in computeSelectedPlayers()"
                                        ng-class="{coachactive: isCoach(selectedPlayer)}">
                                    <span class="col-xs-2 pull-left no-padding-left clickable"><i
                                                class="glyphicon glyphicon-remove pull-left"
                                                ng-click="toggleActive(selectedPlayer)"></i></span>
                                    <span class="col-xs-9 no-padding-left no-padding-right">{{$index + 1}}.
                                    {{selectedPlayer.Name}}</span>
                                    </li>
                                </ul>

                                <p>{{alertMessage}}</p>

                                <p><strong>Remaining Amount: </strong><span>{{remaining() | number}}</span></p>

                                <form name="playersForm" method="post"
                                      action="/home/getTeam">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                                    <input type="hidden" ng-repeat="selectedPlayer in computeSelectedPlayers()"
                                           id="{{'t'+($index+1)}}" name="{{'p'+($index+1)}}" value="{{selectedPlayer._id}}"/>

                                    <input type="submit" class="btn btn-primary" ng-class="{disabled:isNotValid()}"
                                           value="Submit"
                                           ng-disabled="isNotValid()"/>
                                </form>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-7">
                            <form>
                                <ul class="list-group media-list">
                                    <ul class="nav nav-pills">
                                        <li role="presentation" ng-class="{active:displayPlayersList=='Batsmen'}"
                                            ng-click="displayPlayersList='Batsmen'"><a href="#">Batsmen</a></li>
                                        <li role="presentation" ng-class="{active:displayPlayersList=='Bowlers'}"
                                            ng-click="displayPlayersList='Bowlers'"><a href="#">Bowlers</a></li>
                                        <li role="presentation" ng-class="{active:displayPlayersList=='AllRounders'}"
                                            ng-click="displayPlayersList='AllRounders'"><a href="#">All Rounders</a></li>
                                        <li role="presentation" ng-class="{active:displayPlayersList=='Coaches'}"
                                            ng-click="displayPlayersList='Coaches'"><a href="#">Coaches</a></li>
                                    </ul>

                                    <div ng-show="displayPlayersList == 'Batsmen'" class="playerlist">
                                        <h2>Batsmen</h2>
                                        <li ng-repeat="player in players|filter:searchText|orderBy:'-Cost'"
                                            class="media list-group-item player"
                                            ng-click="toggleActive(player)"
                                            ng-class="{'batsmanactive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                                            unselectable="on" ng-if="player._id[0]=='a'">

                                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>

                                            <span>{{player.Name}}</span><span class="pull-right">{{player.Price}}</span>
                                        </li>
                                    </div>

                                    <div ng-show="displayPlayersList == 'Bowlers'" class="playerlist">
                                        <h2>Bowlers</h2>
                                        <li ng-repeat="player in players|filter:searchText|orderBy:'-Cost'"
                                            class="media list-group-item player"
                                            ng-click="toggleActive(player)"
                                            ng-class="{'bowleractive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                                            unselectable="on"
                                            ng-if="player._id[0]=='b'">
                                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>
                                            <span>{{player.Name}}</span><span class="pull-right">{{player.Price }}</span>
                                        </li>
                                    </div>

                                    <div ng-show="displayPlayersList == 'AllRounders'" class="playerlist">
                                        <h2>All Rounders</h2>
                                        <li ng-repeat="player in players|filter:searchText|orderBy:'-Cost'"
                                            class="media list-group-item player"
                                            ng-click="toggleActive(player)"
                                            ng-class="{'allrounderactive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                                            unselectable="on"
                                            ng-if="player._id[0]=='c'">

                                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>
                                            <span>{{player.Name}}</span><span class="pull-right">{{player.Price}}</span>
                                        </li>
                                    </div>

                                    <div ng-show="displayPlayersList == 'Coaches'" class="playerlist">
                                        <h2>Coaches</h2>
                                        <li ng-repeat="player in players|filter:searchText|orderBy:'-Cost'"
                                            class="media list-group-item player"
                                            ng-click="toggleActive(player)"
                                            ng-class="{'coachactive':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                                            unselectable="on"
                                            ng-if="player._id[0]=='d'">
                                            <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>
                                            <span>{{player.Name}}</span><span class="pull-right">{{player.Price}}</span>
                                        </li>
                                    </div>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="footer"></footer>
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script async src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script async src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angularjs/angular.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script type="text/javascript">
            var myApp = angular.module('formApp', []);
            function PlayerController($scope)
            {
                $scope.displayPlayersList = "Batsmen";
                $scope.limitExceeded = false;
                $scope.players = <%- JSON.stringify(Players) %>;

                for (var i = 0; i < $scope.players.length; ++i)
                {
                    $scope.players[i].active = false;
                    $scope.players[i].image = ("https://res.cloudinary.com/gpl/players/" + $scope.players[i].Type + "/" + $scope.players[i]._id + ".jpg");
                }

                $scope.nSelectedPlayers =
                {
                    batsmen: 0,
                    bowlers: 0,
                    allrounders: 0,
                    coaches: 0,
                    total: 0
                }

                $scope.computeSelectedPlayers = function ()
                {
                    $scope.nSelectedPlayers =
                    {
                        coaches: 0,
                        total: 0
                    }

                    var a = [];
                    angular.forEach($scope.players, function (s)
                    {
                        if (s.active)
                        {
                            a.push(s);
                            if (s._id[0] == 'd')
                            {
                                $scope.nSelectedPlayers.coaches++;
                            }
                        }
                    });
                    $scope.nSelectedPlayers.total = a.length;
                    return a;
                }
                $scope.searchText = "";
                $scope.toggleActive = function (s)
                {
                    if (s.active || $scope.canBeBought(s))
                    {
                        s.active = !s.active;
                    }
                };
                // Helper method for calculating the total cost
                $scope.total = function ()
                {
                    var total = 0;
                    // Use the angular forEach helper method to
                    // loop through the services array:
                    angular.forEach($scope.computeSelectedPlayers(), function (s) {
                        if (s.active)
                        {
                            total += s.Cost;
                        }
                    });

                    return total;
                };

                $scope.isCoach = function (player)
                {
                    return player._id[0] == 'd';
                }

                $scope.alertMessage = "";

                $scope.isNotValid = function (players)
                {
                    $scope.alertMessage = "";

                    var valid = true;
                    var MAX_PLAYERS = 15;


                    if ($scope.nSelectedPlayers.total < MAX_PLAYERS + 1)
                    {
                        var remainingPlayers = MAX_PLAYERS - ($scope.nSelectedPlayers.total - $scope.nSelectedPlayers.coaches);
                        if (remainingPlayers == 1)
                        {
                            $scope.alertMessage = "Please select 1 player";
                        }
                        else if (remainingPlayers > 0)
                        {
                            $scope.alertMessage = "Please select " + remainingPlayers + " players";
                        }

                        if ($scope.nSelectedPlayers.coaches < 1)
                        {
                            $scope.alertMessage += " and 1 coach.";
                            if (remainingPlayers == 0)
                            {
                                $scope.alertMessage = "Please select a coach for your team";
                            }
                        }
                    }

                    else
                    {
                        if ($scope.nSelectedPlayers.coaches != 1)
                        {
                            $scope.alertMessage = "Please select exactly one coach.";
                            if ($scope.nSelectedPlayers.coaches < 1)
                            {
                                $scope.alertMessage = "Please select a coach for your team";
                            }
                        }


                        if ($scope.nSelectedPlayers.total > MAX_PLAYERS + 1)
                        {
                            $scope.alertMessage = "You need to select exactly 15 players and 1 coach.";
                        }
                    }


                    if ($scope.nSelectedPlayers.total == MAX_PLAYERS + 1 && $scope.nSelectedPlayers.coaches == 1) {
                        valid = true;
                    }
                    else
                    {
                        valid = false;
                    }
                    if (valid)
                    {
                        $scope.alertMessage = "Alright ! You are good to go.";
                    }
                    return !valid;
                };

                $scope.remaining = function ()
                {
                    return 10000000 - $scope.total();
                };

                $scope.canBeBought = function (player)
                {
                    return ($scope.remaining() >= player.Cost);
                }
            };
            myApp.controller('PlayerController', ['$scope', PlayerController]);
        </script>
        <!-- endbuild -->
        <script async src="/javascript/main.js"></script>
    </body>
</html>