<!DOCTYPE html>
<html>
<head>
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <!--<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">-->
    <link href="/stylesheets/gplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="/javascript/tabs.js"></script>


</head>
<body style="background:url('/images/background.png');font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Log Out</a></li>
            </ul>

        </section>
    </div>
    <!-- top bar -->
    <div>
        <ul class="radius tabs" data-tab="" style="margin-left: 31%;margin-top: 2%;">
            <li class="tab-title active" id="act1" onclick="tab(1)"><a href="#">Batsmen</a></li>
            <li class="tab-title" id="noact2" onclick="tab(2)"><a href="#">Bowlers</a></li>
            <li class="tab-title" id="noact3" onclick="tab(3)"><a href="#">All Rounders</a></li>
            <li class="tab-title" id="noact4" onclick="tab(4)"><a href="#">Coaches</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content active" id="panel1">
                <div style="height: 50em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%" class="large-8" >
                <table style="background-color: rgba(60,60,60,0.8); border: none;">

                <% var j=0;var k=1;for(var i=0; i+j<Players.length+2; i+=3) { %>
                    <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%">
                    <%for(j=0; j<3;j++) { %>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;">
                    <%if(i+j<Players.length){%>
                        <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float:left;" />
                        <span style="margin-top: 50%;"><%= Players[i+j].Name%><br />
                        <%= Players[i+j].Price%></span>
                    </td>
                    <%} else break;%>

                    </td>
                    <%}%>
                    </tr>
                <%}%>
                </table>
                </div>
            </div>
            <div class="content" id="panel2">
                <p>Second panel content goes here. Panel 2.</p>
            </div>
            <div class="content" id="panel3">
                <p>Third panel content goes here. Panel 3.</p>
            </div>
            <div class="content" id="panel4">
                <p>Fourth panel content goes here. Panel 4.</p>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="#">IEEE-CS VIT Main</a></li>
                <li style="display:block;"><a href="#">graVITas</a></li>
            </ul>
            <ul class="right">

                <li><a href="#">Privacy Policy</a></li>
            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>