<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Privacy Policy | GPL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="/stylesheets/privacy.css"/>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 shadow-effect">
                <div class="col-md-10 col-md-offset-1">
                    
                    <div class="page-header custom-header">
                    <h1>Privacy Policy <br/><small class="small-class">graVITas Premier League 2.0, graVITas 2015</small></h1>
                    </div>

                    <p>
                        At graVITas Premier League, rest assured that your personal details are used to maintain contact with you during the course of the event, and nothing more. We do not distribute user details, we never did, and we never will. Spam is something we hate as much as you do. With that out of the way, let’s move on to the game.
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
