<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Privacy Policy | GPL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
    h1{
        text-align: center;
        font: 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
    }
    body{
        padding: 0px 30px 0 30px;
        background-image: url("/images/policy.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center ;
        background-size: 200px;
        background-color: #1295c8;

    }
    p{
        text-align: justify;
        font-size: 25px;
        font-family: "Courier New";
        line-height: 35px;
        color: white;
        padding: 0 10% 0 10%;
    }

</style>
<body>
<div id="container-fluid">
<h1>Privacy Policy</h1>
    <br><br>
<p>
    At graVITas Premier League, rest assured that your personal details are used to maintain contact with you during the course of the event, and nothing more. We do not distribute user details, we never did, and we never will. Spam is something we hate as much as you do. With that out of the way, let’s move on to the game.
</p>
</div>
</body>
</html>
