<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PRIZES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/stylesheets/prizes.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/prize.js"></script>
</head>
<body>
<div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
    <header class="banner" role="banner">

        <span><img src="/images/header-left.jpg" height="60" class="pull-left"/><img class="logo pull-left"
                                                                                     src="../public/images/gpllogo.png"
                                                                                     height="50"/><span
                class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span><img
                src="/images/header-right.jpg"
                height="60"
                class="pull-right"/></span>
    </header>
</div>
<div id="navbar-wrapper">
    <nav id="navbar"></nav>
</div>
<div class="container-fluid">
    <div class="row">
        <h3>And here comes the point to reward yourself... <br></h3>
        <div id="head1">
            <h2><br>PRIZES<br></h2>
            <small class="text-muted"><i class="glyphicon"></i>GPL 2.0</small>
            <hr>
        </div>
        <div class="main">
        <div class="col-sm-4" id="first">
            <img src="/images/trophy.jpg" id="p1">
            <p><b>FIRST PRIZE</b><br><b>Rs.10000</b></p>
        </div>
        <div class="col-sm-4" >
            <img src="/images/trophy.jpg"id="p2">
            <p><b>SECOND PRIZE</b><br><b>Rs.7000</b></p>
        </div>
        <div class="col-sm-4" >
            <img src="/images/trophy.jpg"id="p3">
            <p><b>THIRD PRIZE</b><br><b>Rs.5000</b></p>
        </div>
    </div>
</div>
    </div>




<footer id="footer" class="footer">
</footer>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../public/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js(.) scripts/plugins.js -->

<script src="../public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/javascript/main.js"></script>


</body>
</html>