<!--
  GraVITas Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prizes | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">

</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="font-family: 'PT Sans', sans-serif;overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>

            <ul class="right">
                <li><a href="/register">Register</a></li>
                <li class="has-dropdown not-click" style="border-radius: 5px">
                    <a href="#" style="border-radius: 5px">Sign In</a>
                    <ul class="dropdown" style="width:300%;">
                        <form method="post" action="/login">
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        Back
                                    </a>
                                </h5>
                            </li>


                            <li>

                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="team" class="right inline" style="color: white;">Team
                                                Name: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" name="team_name" placeholder="Team Name"
                                                   value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>


                                <!--Username/Team Name -->


                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row" style="margin-top: 2%">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="pass" class="right inline"
                                                   style="color: white;">Password: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="p
                              ass" placeholder="Password" name="password" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>

                                <!-- password-->


                            </li>
                            <li>
                                <input type="submit" align="center" class="button [tiny small large]" value="Login"
                                       id="button" name="login"
                                       style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                            </li>


                        </form>
                    </ul>
                </li>
            </ul>


        </section>
    </div>
    <!-- top bar -->
    <br/>

    <div class="row" align="center">

        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);">
            <li><a href="/" style="color: #ffffff;">Home</a></li>

            <li><a href="/rule" style="color:#ffffff;">Rules</a></li>
            <li class="current"><a href="#" style="color: lightsteelblue;">Prizes</a></li>
            <li><a href="/sponsor" style="color:#ffffff;">Sponsors</a></li>

            <li><a href="/trail" style="color:#ffffff;">Trailer</a></li>

        </ul>

    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,0,0,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
            <h4 style="color: white;text-align: center;margin:1%;font-weight: bolder;">Prizes</h4>

            <div style="width: 100%;min-height:20em;background-color: rgba(0,0,0,0);border: 1px dashed #ffffff;border-radius: 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5), inset 0 1px 30px 10px rgba(255,255,255,0.5);">
                <img src="/images/first.jpg"
                     style="width: 15%;border: 5px solid #000000;border-radius: 1px;box-shadow: 0 1px 10px 5px rgba(150,200,255,0.2);margin-right: 5%;margin-top: 5%;"
                     align="right"/>

                <p align="left"
                   style="text-align: center;color: #ffffff;font-weight: bold;padding: 2%;margin-top: 10%;">
                    Winner!<br/>graVITas Premier League 1.0 Champion<br/>Prize: Rs. 10000
                </p>
            </div>
            <div style="width: 100%;margin-top: 2%;min-height:18em;background-color: rgba(0,0,0,0);border: 1px dashed #ffffff;border-radius: 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5), inset 0 1px 30px 10px rgba(255,255,255,0.5);">
                <img src="/images/second.jpg"
                     style="width: 15%;border: 5px solid #000000;border-radius: 1px;box-shadow: 0 1px 10px 5px rgba(150,200,255,0.2);margin-right: 5%;margin-top: 5%;"
                     align="right"/>

                <p align="left" style="text-align: center;color: #ffffff;font-weight: bold;padding: 2%;margin-top: 8%;">
                    1<sup>st</sup> Runners Up<br/>graVITas Premier League 1.0<br/>Prize: Rs. 7000
                </p>
            </div>
            <div style="width: 100%;margin-top: 2%;margin-bottom:2%;min-height:16em;background-color: rgba(0,0,0,0);border: 1px dashed #ffffff;border-radius: 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5), inset 0 1px 30px 10px rgba(255,255,255,0.5);">
                <img src="/images/third.jpg"
                     style="width: 15%;border: 5px solid #000000;border-radius: 1px;box-shadow: 0 1px 10px 5px rgba(150,200,255,0.2);margin-right: 5%;margin-top: 5%;"
                     align="right"/>

                <p align="left" style="text-align: center;color: #ffffff;font-weight: bold;padding: 2%;margin-top: 5%;">
                    2<sup>nd</sup> Runners Up<br/>graVITas Premier League 1.0<br/>Prize: Rs. 5000
                </p>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="http://vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                     style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/developers"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>