<!DOCTYPE html>

<html>
<head>
    <title>
        GPL
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>
</head>
<body>



<div id="header">
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>
<div id="m" style="text-align:center;">
    <form>
        Name: <input type="text" value="Name" /><br/>
        Password:  <input type="password" value="Password" /><br/>
        Confirm Password:  <input type="password" value="Password" /><br/>
        E-Mail: <input type="text" value="E-Mail" /><br/>
        Phone No: <input type="text" value="Phone" /><br/>
        <!--Will Insert Captcha elements later -->

        <input type="checkbox" > I have read and agree to the Terms and Conditions and Privacy Policy.<br/>

    </form>

</div>


<footer id="footer"><p>IEEE CS</p></footer>
</body>
</html>
