<!DOCTYPE html>

<html>
<head>
    <title>
        GPL
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>
</head>
<body>

<img class="back" src="/images/background.jpg"/>

<div id="trap1">
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/how">How To Play</a></td>
        <td><a href="RS.html">Rules & Scoring</a></td>
        <td><a href="prize.html">Prizes</a></td>
        <td><a href="stats.html">Players & Coaches</a></td>
        <td>My Team</td>
        <td><a href="Sponsors.html">Sponsors</a></td>

    </table>
</div>
<div id="m" style="text-align:center;">
    <form>
        Name: <input type="text" value="Name" /><br/>
        Password:  <input type="password" value="Password" /><br/>
        Confirm Password:  <input type="password" value="Password" /><br/>
        E-Mail: <input type="text" value="E-Mail" /><br/>
        Phone No: <input type="text" value="Phone" /><br/>
        <!--Will Insert Captcha elements later -->

        <input type="checkbox" > I have read and agree to the Terms and Conditions and Privacy Policy.<br/>

    </form>

</div>


<div id="trap2">
</div>
</body>
</html>
