<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register | GPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.min.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/register.min.css"/>
    </head>
    <body>
        <div id="gplheader" class="page-title hidden-xs hidden-md hidden-sm">
            <header class="banner" role="banner">
                <span>
                    <img src="http://res.cloudinary.com/gpl/general/header-left.jpg" height="60" class="pull-left"/>
                    <a href="http://www.facebook.com/gravitaspremierleague" target="_blank">
                        <img class="logo pull-left" src="http://res.cloudinary.com/gpl/general/gpllogo.png" height="50"/>
                        <span class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span>
                    </a>
                    <img src="http://res.cloudinary.com/gpl/general/header-right.jpg" height="60" class="pull-right"/>
                </span>
            </header>
        </div>
        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>
        <div class="container">
            <div class="row" id="register-form">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <h1>Register<br>
                        <small class="omb_authTitle">
                            Already have an account? Sign in <a href="/login">here</a>
                        </small>
                        <br>
                        <small class="omb_authTitle">
                            Register with one of your social accounts <a href="/social/register">here</a>
                        </small>
                    </h1>
                    <%if(msg){%>
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <strong>Oops!</strong> <%=msg%>
                        </div>
                    <%}%>
                    <form name="register" action="/register" method="post">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <div class="form-group">
                            <label for="team">Team Name:</label>
                            <input type="text" placeholder="Team Name" class="form-control" name="team" required autofocus/>
                            <div id="msg" class="alert alert-danger alert-dismissible fade in" role="alert">
                                <strong>Oops!</strong> That team name is already taken, please choose another one.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass">Password:</label>
                            <input type="password" id="pass" class="form-control" placeholder="Password" name="password"
                                   required/>
                        </div>
                        <div class="form-group">
                            <label for="cpass">Confirm Password:</label>
                            <input type="password" id="cpass" class="form-control" placeholder="Confirm Password"
                                   name="confirm" required/>
                        </div>
                        <div class="form-group">
                            <label for="manager">Manager Name:</label>
                            <input type="text" placeholder="Manager Name" class="form-control" name="manager_name" required/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" placeholder="username@domain.com" class="form-control" name="email"
                                   required/>
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile Number:</label>
                            <input type="text" placeholder="Mobile Number" class="form-control" name="phone" required
                                   pattern="\d{10}" title="10 digits"/>
                        </div>
                        <input id="submit" type="submit" class="btn btn-primary btn-lg centered" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
        <footer id="footer" class="footer"></footer>
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script async src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script async src="/javascript/main.min.js"></script>
        <script async src="/javascript/valid.min.js"></script>
    </body>
</html>