<!DOCTYPE html>

<html>
<head>
    <title>
        GPL
    </title>
    <script type="text/javascript" src="/javascript/RS.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>
</head>
<body>
<div id="1">
    <!-- Use of javascript is required to switch frames. Content and Javascript part is left to the respective teams -->
</div>


<div id="header">
    <ul id="rightbox">
        <a href="/login"><li class="egder">Login</li></a>
        <a href="/register"><li>Sign Up</li></a>
    </ul>
    <ul id="leftbox">
        <a href="/myteam"><li class="egdel">My Team</li></a>
        <a href="/next_match"><li>Next Match</li></a>
        <a href="/points"><li>Points </li></a>                                                                      <!--Get Player points from Server-->
        <a href="/league"><li>Standings</li></a>
    </ul>
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>


<div id="trap2">
</div>
<div id="m">
    <div id="leftm">
        <ol>
            <a onclick="ch(0);" href="#" id="temp" name="0">
                <li>Squad Composition</li>
            </a>
            <a onclick="ch(1);" href="#" id="nottemp" name="1">
                <li>Scoring</li>
            </a>
            <a onclick="ch(2);" href="#" id="nottemp" name="2">
                <li>Changing your Squad</li>
            </a>
            <li style="background:rgba(255,255,255,0.1);box-shadow: inset 0 0 0 rgba(0,0,0,0);"><img
                        src="/images/ieeecs logo.gif"/></li>

        </ol>
    </div>
    <div id="rightm">
        <iframe id="frlnk" src="RS/SCom.html" seamless></iframe>
    </div>
</div>
<footer id="footer"><p>IEEE CS</p></footer>
</body>
</html>
