<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Rules | GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/<%=(session)? 'main' : 'dashboard'%>.min.css">
        <link rel="stylesheet" href="/stylesheets/rules.min.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <%if(!session){%>
            <div id="wrapper" class="container-fluid">
                <% include partials/playerSidebar.ejs %>
                <div id="main-content" class="col-xs-12 col-sm-10 col-sm-offset-2 full-width">
                    <% include partials/playerNavbar.ejs %>
                    <div class="container-fluid wrapper ">
        <%} else {%>
            <% include partials/headerNavbar.ejs %>
        <%}%>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 shadow-effect">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="page-header rules-header">
                                        <h1>Rules and Regulations <br>
                                            <small class="small-class">graVITas Premier League 2.0, graVITas 2015</small>
                                        </h1>
                                        <h3>Some games are meant to be played without rules. <br>This is not one of them.</h3>
                                    </div>
                                    <ol class="rules">
                                        <li>
                                            <p>All of the rules mentioned below are subject to change (wherever applicable)
                                                without prior notice. By signing up for graVITas premier league 2.0, you
                                                agree to follow all undermentioned regulations.
                                            </p>
                                        </li>
                                        <li>
                                            <p> In the event of any disputes, the event coordinator’s decision shall hold.</p>
                                        </li>
                                        <li>
                                            <p>At the beginning of the event, each participant will have to create a squad
                                                of exactly 16 cricket players with exactly one coach and fifteen players.
                                                The player categories will be explicitly mentioned during squad formation.
                                                The appropriate amount will be deducted from the participant’s graVITas
                                                premier league auction purse. The surplus amount, if any will have no
                                                bearing whatsoever on future transactions, wherever applicable.
                                            <div class="well">
                                                <small>
                                                    <strong>Note</strong>: The purchase limit is virtual USD 10 million.
                                                    All the individual player prices are scaled accordingly.
                                                </small>
                                            </div>
                                        </li>
                                        <li>
                                            <p>Before each match starts, participants can customize their teams to form
                                                the final playing eleven. Participants can and are encouraged to facilitate
                                                squad rotation.
                                            </p>
                                        </li>
                                        <li>
                                            <p>Participants shall be notified of their next match well in advance. At
                                                specified times, the game engine will simulate the match, following which
                                                the participants will be able to see ball by ball commentary and advanced
                                                statistical analytics.
                                            </p>
                                        </li>
                                        <li>
                                            <p>Initially, each participant’s squad will play 7 matches with random opponent
                                                squads such that no two teams play each other more than once. After this
                                                league stage has concluded, the top 25 % teams will be shortlisted for
                                                the next round, where a similar process will be repeated. In the end, the
                                                8 remaining finalists will participate in an actual player auction.
                                            </p>
                                        </li>
                                        <li>
                                            <p>As an extension to clause 6, should there be any clash in terms of rankings
                                                between multiple teams due to points, then the priority of ascension will
                                                be decided by the net run rate, which is calculated as follows:

                                            <div class="well">
                                                <small>(total runs scored / total overs batted) - (total runs conceded / total
                                                    overs bowled)
                                                </small>
                                            </div>
                                        </li>
                                        <li>
                                            <p><strong>Scoring:</strong> Each victory earns the winning team 2 points, whereas
                                                the losing team gets 0 points. A match shall be declared a tie, if all
                                                of the following conditions hold simultaneously:</p>
                                            <ol>
                                                <li>
                                                    <p> The number of runs scored by both teams is exactly the
                                                        same.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>The number of wickets lost by both teams is exactly the same. If
                                                        this does not hold, then the team that has lost fewer wickets
                                                        shall be declared victorious.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>If the number of wickets lost is equal, then the team with a higher
                                                        run rate shall be declared victorious. In the highly unlikely event
                                                        of the run rates being equal, the match shall be declared a
                                                        <strong>Tie</strong>, and both teams shall be awarded one point
                                                        apiece.
                                                </li>
                                            </ol>
                                            <div class="well">
                                                <small>Fun fact, among the 5, 348 matches from G.P.L 1.0 in 2014, only
                                                    one match was an actual TIE.
                                                </small>
                                            </div>
                                        </li>
                                        <li>
                                            <p>If a participant has failed to produce his / her playing eleven before
                                                the start of the first match of the first round, then that match shall
                                                be lost to the opposition. The same applies to all matches for which the
                                                team is undefined.
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
    <%if(!session){%>
                </div>
            </div>
        </div>
    <%}%>
        <%if(session){%>
            <% include partials/footer.ejs %>
        <%}%>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script async src="/javascript/<%= (session) ? 'main' : 'playerCommon'%>.min.js"></script>
    </body>
</html>
