<!--
  GraVITas Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>
            <ul class="right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li><a href="/home" style="color: #ffffff">Home</a></li>
            <li><a href="/home/matches" style="color:#ffffff;">Match</a></li>
            <li class="current"><a href="#" style="color: lightsteelblue;">Rules</a></li>
            <li><a href="/home/sponsors" style="color:#ffffff;">Sponsors</a></li>
            <li><a href="/home/prize" style="color:#ffffff;">Prizes</a></li>
            <li><a href="/home/trailer" style="color:#ffffff;">Trailer</a></li>
        </ul>
    </div>
    <div class="row" align="left">

        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
            <h3 style="color: lightgray;text-align: center;">Rules</h3>

            <p style="color: lightgray; opacity: 0.95;text-align: left;">
                <b>Rules and Regulations, graVITas premier league 1.0, graVITas 2014</b><br/>
            <ol style="line-height: 95%; color: lightgray;opacity: 0.95;text-align: left;">
                <li>All of the rules mentioned below are subject to change (wherever applicable) without prior notice.
                    By signing up for graVITas premier league 1.0, you agree to follow all undermentioned regulations.
                </li>
                <br/>
                <li> In the event of any disputes, the organizer’s decision shall hold.</li>
                <br/>
                <li>At the beginning of the event, each participant / team will have to create a squad of exactly 16
                    cricket players with the following specifications: exactly 7 batsmen, 6 bowlers, two all-rounders,
                    and one team coach. The player categories will be explicitly mentioned during squad formation. The
                    appropriate amount will be deducted from the participant’s / team’s graVITas premier league auction
                    purse.
                    The surplus amount, if any will have no bearing whatsoever on future transactions, wherever
                    applicable.
                    <br/>Note: The purchase limit is virtual USD 10 million. All the individual player prices are scaled
                    accordingly.
                </li>
                <br/>
                <li>Before each match starts, participants / teams can customize their teams to form the final playing
                    eleven with the following restriction-this playing eleven should have exactly one all-rounder, five
                    batsmen and five bowlers. Participants / teams must also assign batting orders in order to
                    facilitate
                    squad rotation.
                </li>
                <br/>
                <li>Participants shall be notified of their next match well in advance. At specified times, the game
                    engine will simulate the match, following which the participants will be able to see ball by ball
                    commentary and advanced statistical analytics.
                </li>
                <br/>
                <li>Initially, each participant’s squad will play 7 matches with random opponent squads such that no two
                    teams play each other more than once. After this league stage has concluded, the top 25 % teams will
                    be shortlisted for the next round, where a similar process will be repeated. In the end, the 8
                    remaining finalists will participate in an actual player auction.
                </li>
                <br/>
                <li>As an extension to clause 6, should there be any clash in terms of rankings between multiple teams
                    due to points, then the priority of ascension will be decided by the net run rate, which is
                    calculated as follows: (runs scored/overs batted)-(runs conceded/overs bowled)
                </li>
                <br/>
                <li>Scoring: Each victory earns the winning team 2 points, whereas the losing team gets 0 points. A
                    match shall be declared a tie, if all of the following conditions hold simultaneously:
                    <ol style="line-height: 95%;color: lightgray;opacity:0.95;">
                        <li style="list-style-type: lower-roman"> The number of runs scored by both teams is exactly the
                            same.
                        </li>
                        <li style="list-style-type: lower-roman">The number of wickets lost by both teams is exactly the
                            same. If this does not hold, then the team that has lost fewer wickets shall be declared
                            victorious.
                        </li>
                        <li style="list-style-type: lower-roman">If the number of wickets lost is equal, then the team
                            with a higher run rate shall be declared victorious. In the highly unlikely event of the run
                            rates being equal, the match shall be declared a TIE, and both teams shall be awarded one
                            point apiece.
                        </li>
                    </ol>
                </li>
                <br/>
                <li>If a participant has failed to produce his / her playing eleven before the start of the first match
                    of the first round, then that match shall be lost to the opposition. The same applies to all matches
                    for which the team is undefined.
                </li>
            </ol>
            </p>
        </div>
    </div>

    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="http://vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                     style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/home/developers"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>
