<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/schedule.css"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57505316-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>

<div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
    <header class="banner" role="banner">
        <span><img src="/images/header-left.jpg" height="60" class="pull-left"/><img class="logo"
                                                                                     src="/images/gpllogo.png"
                                                                                     height="50"
                                                                                     class="pull-left"/><span
                    class="h2 gplheadertext">graVITas Premier League 2.0</span><img src="/images/header-right.jpg"
                                                                                    height="60"
                                                                                    class="pull-right"/></span>
    </header>
</div>

<div id="navbar-wrapper">
    <nav id="navbar"></nav>
</div>

<div class="container shadow-effect">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 page-header text-info">
            <h1>Schedule.<br>
                <small>graVITas Premiere League 2.0</small>
            </h1>
        </div>
    </div>
    <table class="table-fill">
        <thead>
        <tr>
            <th colspan="2">Event goes live on 1st September 2015 at 7:00p.m.</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
            <td class="header">Round</td>
            <td class="header">Dates</td>
        </tr>
        <tr>
            <td>Round 1</td>
            <td>9<sup>th</sup> September to 15<sup>th</sup> September</td>
        </tr>
        <tr>
            <td>Round 2</td>
            <td>16<sup>th</sup> September to 22<sup>nd</sup> September</td>
        </tr>
        <tr>
            <td>Auctions and Finals</td>
            <td>27<sup>th</sup> September</td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>


<footer id="footer" class="footer">
</footer>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="/javascripts/main.js"></script>


</body>
</html>
