<!-- /*
*  GraVITas Premier League
*  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>
            <ul class="right">
                <li class="has-dropdown not-click" style="border-radius: 5px">
                    <a href="#" style="border-radius: 5px">Sign In</a>
                    <ul class="dropdown" style="width:300%;">
                        <form method="post" action="/login">
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        Back
                                    </a>
                                </h5>
                            </li>


                            <li>

                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="team" class="right inline" style="color: white;">Team
                                                Name: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" name="team_name" placeholder="Team Name"
                                                   value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>


                                <!--Username/Team Name -->


                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row" style="margin-top: 2%">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="pass" class="right inline"
                                                   style="color: white;">Password: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="p
                              ass" placeholder="Password" name="password" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>

                                <!-- password-->


                            </li>
                            <li>
                                <input type="submit" align="center" class="button [tiny small large]" value="Login"
                                       id="button" name="login"
                                       style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                            </li>

                            <li class="divider"><a href="/forgot">Forgot Password?</a></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">

        <div class="small-12 medium-12 large-12"
             style="background:rgba(200,200,200,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
            <h4 style="color: white;text-align: center;background-color: rgba(30,30,30,0.8);border-radius: 5px;margin-top: 0;width: 100%;padding: 1%;">
                Schedule</h4>
            <table cellspacing="5px" style="border: none;border-radius: 5px;width:90%;">
                <tr>
                    <td colspan="3" style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">
                        Event goes live on 1<sup>st</sup> Sep 2014 at 6:00p.m.
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;font-weight: bolder;">Round</th>
                    <th style="text-align: center;font-weight: bolder;">Dates</th>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">4<sup>th</sup> September to 10<sup>th</sup> September</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">2</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">11<sup>th</sup> September to 17<sup>th</sup> September</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">3</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">18<sup>th</sup> September to 24<sup>th</sup> September</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">Play Offs</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">25<sup>th</sup> September to 27<sup>th</sup> September</td>
                </tr>
            </table>

            <h4 style="color: white;text-align: center;background-color: rgba(30,30,30,0.8);border-radius: 5px;margin-top: 0;width: 100%;padding: 1%;">
                Match Schedule</h4>
            <table cellspacing="5px" style="border: none;border-radius: 5px;width:90%;">
                <tr>
                    <td colspan="3" style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">
                        ROUND 3 MATCHES
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;font-weight: bolder;">Date</th>
                    <th style="text-align: center;font-weight: bolder;">Matches</th>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">18/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 5, 2 v/s 6, 3 v/s 7, 4 v/s 8</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">19/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 6, 2 v/s 7, 3 v/s 8, 4 v/s 5</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">20/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 7, 2 v/s 8, 3 v/s 5, 4 v/s 6</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">21/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 8, 2 v/s 5, 3 v/s 6, 4 v/s 7</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">22/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 2, 3 v/s 4, 5 v/s 6, 7 v/s 8</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">23/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 3, 2 v/s 4, 5 v/s 7, 6 v/s 8</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">24/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 4, 2 v/s 3, 5 v/s 8, 6 v/s 7</td>
                </tr>
            </table>
            <table cellspacing="5px" style="border: none;border-radius: 5px;width:90%;">
                <tr>
                    <td colspan="3" style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">
                        PLAYOFFS AND FINALS
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;font-weight: bolder;">Date</th>
                    <th style="text-align: center;font-weight: bolder;">Matches</th>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">25/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">1 v/s 2, 3 v/s 4</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">26/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">Loser (1 v/s 2) v/s Winner (3 v/s 4) (Eliminator)</td>
                </tr>
                <tr>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">27/09/14</td>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;background-color: #000000;">Winner (1 v/s 2) v/s Winner (Eliminator) (Finals), Loser (Eliminator) v/s Loser (3 v/s 4)</td>
                </tr>
            </table>
            <p style="color: white;text-align: left;margin-left: 1%;">Note: The dates mentioned above are subject to change. All matches simulation is carried out at midnight.</p>
        </div>
    </div>

    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="https://www.vit.ac.in"><img src="/images/vit_logo_white.png"
                                                         style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/home/developers"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>