<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Social | GPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/min/teamNameForm.min.css'/>
        <link rel="stylesheet" href="/stylesheets/min/main.min.css">
        <style>
            body {
                overflow-y: auto !important;
            }
            .page-header {
                margin-bottom: 40px;
                border-bottom: none;
                padding-top: 10px;
            }
            .fb, .fb:hover, .fb:focus, .fb:active {
                background: #3B5998 none repeat scroll 0 0;
                color: white;
                width: 100%;
            }
            /*.twitter, .twitter:hover, .twitter:focus, .twitter:active {
                background: #00ACED none repeat scroll 0 0;
                color: white;
                width: 100%;
            }*/
            .google-plus, .google-plus:hover, .google-plus:focus, .google-plus:active {
                background: #C32F10 none repeat scroll 0 0;
                color: white;
                width: 100%;
            }
        </style>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body>
        <% include partials/headerNavbar.ejs %>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-10 col-md-offset-1">
                <div class="container-fluid ">
                    <h1 class="page-header">Get Social </h1>
                    <% if(mode){ %>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal" method="post" action="/social/<%=type%>">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <div class="form-group">
                                        <label for="teamName">Team Name</label>
                                        <input type="text" class="form-control" name="team" id="teamName" placeholder="Team Name" autofocus required>
                                    </div>
                                    <%if(type === 'register'){%>
                                        <div class="form-group">
                                            <label for="teamName">Phone Number</label>
                                            <input type="text" class="form-control" name="phone" id="phoneNumber" placeholder="Phone Number" required>
                                        </div>
                                    <%}%>
                                    <button type="submit" class="btn btn-lg btn-default btn-primary centered">Submit</button>
                                </form>
                            </div>
                        </div>
                    <% } else { %>
                        <h1>
                            <small>
                                <%if(type === 'register') {%>
                                    Register with any one of your social accounts
                                <%} else {%>
                                    Login with the account that you used while registering
                                <%}%>
                            </small>
                        </h1>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row row-sm-offset-3 ">
                                    <div class="col-xs-3 col-sm-4">
                                        <a href="/auth/facebook" class="btn btn-lg btn-default fb">
                                            <i class="fa fa-facebook pull-left "></i>
                                            <span class="hidden-xs">Facebook</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-3 col-sm-4">
                                        <a href="/auth/google" class="btn btn-lg btn-default google-plus">
                                            <i class="fa fa-google-plus pull-left"></i>
                                            <span class="hidden-xs">Google+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script async src="/javascript/min/main.min.js"></script>
    </body>
</html>
