<!DOCTYPE html>
<!-- Use of javascript is required to switch frames. Content and Javascript part is left to the respective teams -->
<html>
<head>
    <title>
        GPL
    </title>
    <script type="text/javascript" href="htp/htp.js">
    </script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/gplmain.css"/>

</head>
<body>

<div id="header">
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>



<div id="m">
    <div id="h"> Sponsors</div>
</div>
<footer id="footer"><p>IEEE CS</p></footer>
</body>
</html>
