<!--
  GraVITas Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Sponsors | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="/stylesheets/gplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57505316-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="top-bar" data-topbar style="overflow: visible;" role="navigation">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>
            <ul class="right">
                <li class="has-dropdown not-click" style="border-radius: 5px">
                    <a href="#" style="border-radius: 5px">Sign In</a>
                    <ul class="dropdown" style="width:300%;">
                        <form method="post" action="/login">
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        Back
                                    </a>
                                </h5>
                            </li>


                            <li>

                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="team" class="right inline" style="color: white;">Team
                                                Name: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" name="team_name" placeholder="Team Name"
                                                   value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>


                                <!--Username/Team Name -->


                                <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                    <div class="row" style="margin-top: 2%">
                                        <div class="small-3 columns" style="margin-left: -5%">
                                            <label for="pass" class="right inline"
                                                   style="color: white;">Password: </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="p
                              ass" placeholder="Password" name="password" value=""
                                                   style="margin:-4% 0 0 1%;border-radius: 5px">
                                        </div>
                                    </div>
                                </div>

                                <!-- password-->


                            </li>
                            <li>
                                <input type="submit" align="center" class="button [tiny small large]" value="Login"
                                       id="button" name="login"
                                       style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                            </li>


                        </form>
                    </ul>
                </li>
            </ul>

        </section>
    </div>
    <!-- top bar -->
    <br/>

    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);">
            <li><a href="/" style="color:#ffffff;">Home</a></li>

            <li><a href="/rule" style="color:#ffffff;">Rules</a></li>
            <li><a href="/prizes" style="color:#ffffff;">Prizes</a></li>
            <li class="current"><a href="#" style="color: lightsteelblue;">Sponsors</a></li>
            <li><a href="/trail" style="color:#ffffff;">Trailer</a></li>
        </ul>
    </div>
    <div class="row" align="center">

        <div class="small-12 medium-12 large-12 columns"
             style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
            <h3 style="color: white;text-align: center;">Our Sponsors</h3>
        </div>
    </div>

    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="http://vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                     style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/developer"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>
