<!DOCTYPE html>
<html>
<head>
    <title>Gravitas Premier League</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>

<canvas id="canvas"></canvas>
<div id="message">
    <h1>Gravitas Premier League</h1>
    <h2>Coming Soon</h2>
    <h3>Stay tuned to our <a href="https://www.facebook.com/gravitaspremierleague">Facebook Page</a> for more details.</h3>
    <h4>Presented by</h4>
    <a href="https://www.facebook.com/ieeecsvit"><img src="/images/logo_nbg.png" /></a>
</div>
<!--<div id="footer"></div>-->
<script src="/javascript/static.js"></script>
</body>
</html>
