<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gravitas Premier League</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="/stylesheets/countdownStyle.css">


</head>
<body>
<div class="overlay">
    <img class="tvstatic" src="/images/tvstaticsmall.gif"/>

</div>

<header>
    <div id="DateCountdown" data-date="2015-09-01 00:00:00" ></div>
</header>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet"  type="text/css"  href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="/javascript/TimeCircles.js"></script>
<link rel="stylesheet"  type="text/css"  href="/stylesheets/TimeCircles.css" />

<script>
    $("#DateCountdown").TimeCircles({
        "animation": "smooth",
        "bg_width": 1,
        "fg_width": 0.04,
        "circle_bg_color": "#EEEEEE",
        "time": {
            "Days": {
                "text": "Days",
                "color": "#CCCCCC",
                "show": true
            },
            "Hours": {
                "text": "Hours",
                "color": "#CCCCCC",
                "show": true
            },
            "Minutes": {
                "text": "Minutes",
                "color": "#CCCCCC",
                "show": true
            },
            "Seconds": {
                "text": "Seconds",
                "color": "#CCCCCC",
                "show": true
            }
        }
    });
    $(window).resize(function(){
        $("#DateCountdown").TimeCircles().rebuild();
    });
</script>
</body>
</html>