<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>graVITas Premier League</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/stylesheets/countdownbackground.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script async type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script async type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="social">
            <div class="fb-like"
                 data-href="https://www.facebook.com/gravitaspremierleague"
                 data-layout="button"
                 data-action="like"
                 data-show-faces="false"
                 data-share="false">
            </div>
            <a class="twitter-follow-button" href="https://www.twitter.com/graVITasgpl" data-show-count="false"></a>
        </div>
        <div class="overlay">
            <div class="overlay-text">
                <p class="lead">Interested ? <a href="/interest">Let us know</a></p>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div class="overlay-text">
                <p class="lead"><a href="/rules">Know More About The Event!</a></p>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div class="overlay-text">
                <p class="lead"><a href="/schedule">Schedule</a></p>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill back-0"></div>
                    <div class="carousel-caption">
                        <p class="lead">- where passion for the sport breeds excellence!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="fill back-1"></div>
                    <div class="carousel-caption">
                        <p class="lead">
                            - play like a winner! #cricket
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fill back-2"></div>
                    <div class="carousel-caption">
                        <p class="lead">
                            - support the change, play the change, be the change!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fill back-3"></div>
                    <div class="carousel-caption">
                        <p class="lead">
                            - redefining cricket!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fill back-4"></div>
                    <div class="carousel-caption">
                        <p class="lead">
                            - challenge yourself to see where you're at!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fill back-5"></div>
                    <div class="carousel-caption">
                        <p class="lead">
                            - crick, crick, cricket; don't throw your wicket!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fill back-6"></div>
                    <div class="carousel-caption">
                        <p class="lead">
                            - out run, out hit, out play, out hustle, out WIN!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="fb-root"></div>
        <script async>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>
    </body>
</html>