<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gravitas Premier League</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/stylesheets/countdownStyle.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/TimeCircles.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TimeCircles.css"/>
</head>
<body>
<div class="overlay">
    <img class="tvstatic" src="/images/tvstaticsmall.gif"/>
</div>
<header>
    <div id="DateCountdown" data-date="2015/09/01, 00:00:00"></div>
</header>
<script>
   $("#DateCountdown").TimeCircles({
       "animation": "smooth",
        "bg_width": 1,
        "fg_width": 0.04,
        "circle_bg_color": "#aaaaaa",
        "time": {
            "Days": {
                "text": "Days",
                "color": "#FF9900",
                "show": true
            },
            "Hours": {
                "text": "Hours",
                "color": "#ECEFCB",
                "show": true
            },
            "Minutes": {
                "text": "Minutes",
                "color": "#ACC742",
                "show": true
            },
            "Seconds": {
                "text": "Seconds",
                "color": "#7995D5",
                "show": true
            }
        }
    });
    $(window).resize(function(){
        $("#DateCountdown").TimeCircles().rebuild();
    });
</script>
</body>
</html>
