<!DOCTYPE html>

<html>
<head>
    <title>
        GPL
    </title>
    <script type="text/javascript" src="/javascript/menu.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/frame.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css"/>
</head>
<body>
<div id="header">
    <ul id="rightbox">
        <a href="/login"><li class="egder">Login</li></a>
        <a href="/register"><li>Sign Up</li></a>
    </ul>
    <ul id="leftbox">
        <a href="/myteam"><li class="egdel">My Team</li></a>
        <a href="/next_match"><li>Next Match</li></a>
        <a href="/points"><li>Points </li></a>                                                                      <!--Get Player points from Server-->
        <a href="/league"><li>Standings</li></a>
    </ul>
</div>
<div id="menu">
    <table id="box">

        <td><a href="/">Home</a></td>
        <td><a href="/howtoplay">How To Play</a></td>
        <td><a href="/rules">Rules & Scoring</a></td>
        <td><a href="/prize">Prizes</a></td>
        <td><a href="/players">Players & Coaches</a></td>
        <td><a href="/sponsor">Sponsors</a></td>

    </table>
</div>
<div id="m">
    <div id="leftm">
        <ul>
            <a onclick="ch(0);" href="#" id="" name="0">
                <li>Player 1</li>
            </a>
            <a onclick="ch(1);" href="#" id="" name="1">
                <li>Player 2</li>
            </a>
            <a onclick="ch(2);" href="#" id="nottemp" name="2">
                <li>Player 3</li>
            </a>
            <a onclick="ch(3);" href="#" id="nottemp" name="3">
                <li>Player 4</li>
            </a>
            <a onclick="ch(4);" href="#" id="nottemp" name="4">
                <li>Player 5</li>
            </a>
            <a onclick="ch(5);" href="#" id="nottemp" name="5">
                <li>Player 6</li>
            </a>
            <a onclick="ch(6);" href="#" id="nottemp" name="6">
                <li>Player 7</li>
            </a>
            <a onclick="ch(7);" href="#" id="nottemp" name="7">
                <li>Player 8</li>
            </a>
            <a onclick="ch(8);" href="#" id="nottemp" name="7">
                <li>Player 9</li>
            </a>
            <a onclick="ch(9);" href="#" id="nottemp" name="7">
                <li>Player 10</li>
            </a>
            <a onclick="ch(10);" href="#" id="nottemp" name="7">
                <li>Player 11</li>
            </a>


        </ul>
    </div>
</div>


<div id="footer"><p>IEEE CS</p></div>
</body>
</html>
