<!-- /*
*  GraVITas Premier League
*  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trailer | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="font-family: 'PT Sans', sans-serif;overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>
            <ul class="right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li><a href="/home" style="color: #ffffff;">Home</a></li>
            <li><a href="/home/matches" style="color:#ffffff;">Match</a></li>
            <li><a href="/home/rules" style="color:#ffffff;">Rules</a></li>
            <li><a href="/home/leaderboard" style="color:#ffffff;">Leader Board</a></li>
            <li><a href="/home/sponsors" style="color:#ffffff;">Sponsors</a></li>
            <li><a href="/home/prize" style="color:#ffffff;">Prizes</a></li>
            <li class="current"><a href="#" style="color: lightsteelblue;">Trailer</a></li>
        </ul>
    </div>
    <div class="small-12 medium-12 large-12">
        <div class="row" align="center"
             style="background:rgba(80,80,120,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
            <div style="background-color: rgba(0,0,0,0);border:none;padding: 2%; margin: 2%;">
                <object width="853" height="480">
                    <param name="movie" value="//www.youtube.com/v/2E-NTWwBcY8?hl=en_GB&amp;version=3"/>
                    <param name="allowFullScreen" value="true"/>
                    <param name="allowscriptaccess" value="always"/>
                    <embed src="//www.youtube.com/v/2E-NTWwBcY8?hl=en_GB&amp;version=3"
                           type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always"
                           allowfullscreen="true"></embed>
                </object>
            </div>
        </div>
    </div>
</div>

<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="http://vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                     style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/home/developers"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>