<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Trailer | GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link href="/stylesheets/trailer.css" rel="stylesheet">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
            <header class="banner" role="banner">
                <span>
                    <img src="http://res.cloudinary.com/gpl/general/header-left.jpg" height="60" class="pull-left"/>
                    <a href="http://www.facebook.com/gravitaspremierleague" target="_blank">
                        <img class="logo pull-left" src="http://res.cloudinary.com/gpl/general/gpllogo.png" height="50"/>
                        <span class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span>
                    </a>
                    <img src="http://res.cloudinary.com/gpl/general/header-right.jpg" height="60" class="pull-right"/>
                </span>
            </header>
        </div>
        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>
        <div class="container">
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/Ui_zPTogeJY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- FOOTER -->
        <footer id="footer" class="footer"></footer>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js(.) scripts/plugins.js -->
        <script async src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script async src="/javascript/main.js"></script>
        <!-- endbuild -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <!-- endbuild -->
    </body>
</html>