header {
    background:
    linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(/images/back_opt.jpg);
    background-size: cover;
    height: 100vh;
    padding: 50px;
    color: #ffffff;
    text-align: center;
    z-index: 0;
}
#DateCountdown {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}
@media (max-device-width : 500px)  {
    header{
        padding: 0;
    }
}
.overlay{
    position:absolute;

    z-index: 3;
}
.tvstatic{
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    opacity: 0.20;
    filter: alpha(opacity=20);
}