#countdowndays, #countdownhours, #countdownminutes, #countdownseconds {
    padding: 7%;
    margin: 0 1% 0 1%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    background-color: rgba(255,255,255,0.1);
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}