
h4 {
    text-align: left;
}

.container {
    padding: 50px 30px 20px 100px;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#name, #e-mail, #features-requested {
    color: #0d0d0d;
}
