fieldset {
    border-radius: 5px;
    border: 1px dashed rgba(255, 255, 255, 0.6);

}

.drop {
    /* display:none;*/
    background: #555555;
    margin: 0;

}

#act1 a, #act2 a, #act3 a, #act4 a {
    background-color: rgba(60, 60, 60, 1);
    color: white;
}

#noact1 a, #noact2 a, #noact3 a, #noact4 a {
    background-color: rgba(60, 60, 60, 0.9);
    color: white;
}

#act1 a, #noact1 a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#act4 a, #noact4 a {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#panel1, #panel2, #panel3, #panel4 {
    margin-top: 3%;
}