a {
target:_self;
color:rgba(255, 255, 255,1);
text-decoration:none;
}
a:active{text-decoration:underline;}
body {

    background-color: rgba(25, 25, 25, 1) /*url("waca.jpg")*/;
    overflow: visible;
    width: 960px /*80em*/;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    text-align: center;
}
.ieee{
    height:7em;
    width:14em;
    cursor: default;
    margin:2em;
}
.button{

    height:2em;
    width:6em;
    color:white;
    font-size:1.5em;
    background:rgba(255,25,25,1);
    margin:1em;
}
.back {
height:42.5em;
width:85.4em;
position:absolute;
z-index:-1;
top:0;
left:0;
margin:0;
}
.im {
    margin-top:5em;
   text-align: center;
}

/*#trap2{

    top:1em;
border-bottom: 1em solid rgba(200,200,200,0.7);
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	height: 0;
	width: 100%/84.4em/;
	margin:0;
	position:relative;
	left:0;
	
}*/
#menu{

background:rgba(0,0,0,0.5);
 width:100% /*79.4em*/;
position:relative;
height:auto;
left:0;
margin:auto;
top:2em;
    padding:0.3em 0;
    box-shadow:inset 0em 0.1em 0.1em rgba(255,255,255,0.5),inset 0em -0.1em 0.1em rgba(255,255,255,0.5),inset 0 0.2em 0.5em rgba(255,255,255,0.2),inset 0 -0.2em 0.5em rgba(255,255,255,0.2);

    border-radius:5px;
}
#menu #box{
margin:0;
    margin-left:2.2em;


	padding:0;
	width:auto;
	position:relative;

	z-index:2;
}
#menu #box td{
	float:left;
    display:block;
	position:relative;

	overflow:hidden;
	color:rgba(255, 255, 255,1);
	height:auto;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
    margin:0;
	left:1em;
	margin-right:2em;
	/*border-right:1px rgba(0, 172, 237,0.3) solid;*/
}

#menu #box td:hover{
text-shadow: 0.1em 0.1em rgba(255,255,255,0.1);
/*left:2em;
padding-left:0;
margin-right:2em;
font-size:1.25em;
text-color:rgba(0,0,0,1);
    background: rgba(255,255,255,1);*/
    top:-1px;
}
#bar {
background:rgba(255,255,255,0.9);
margin-left:15%/*20em*/;
width:70%/*43.8em*/;
    border-radius:5px;
    text-align: center;
    font-size:1.2em;
    color :rgba(25,25,25,1);
    padding-top: 1em;
}
#bar table{
display:block;

    padding:1em;
}
#bar td { padding-left:1em;}
#bar p{ padding:0; margin:0; margin-bottom:1em; }
#Signupb { width: 100%/*75em*/;  margin:0; margin-top: 1.5em ; padding:0; text-align: center;}
#Signupb input{
    position:relative;
height:2em;
width:6em;
color:white;
font-size:1.5em;
background:rgba(255,0,0,0.8);
}
#m{
background:rgba(255,255,255,0);
width:100%/*75em*/;
position:relative;
height:40em;
top:4em;
overflow:visible;
left:0;
padding:0;
margin:0;


}
#leftm
{
width:30%;
height:36em;
float:left;
border-right:0.2em solid rgba(255,255,255,0.5);
padding:0;
    background:rgba(255,255,255,0.8);
/*margin-top: 3em;*/
position:relative;
}
#leftm li
{
position:relative;
padding:1em;
margin:0;
list-style:none;
left:0;
background:rgba(0,0,0,0.1);
}
#leftm li:hover{
background:rgba(25,25,25,1);
box-shadow:inset 0 0 2em rgba(255,255,255,0.2);
color:White;
padding:1em;
cursor:pointer;
}
#leftm img {
height:6em;
width:13em;
    cursor: default;
}
#leftm a {
text-decoration: none;
color:black;
}

#rightm {
padding:0;
margin:0;
   /* margin-top:3em;*/
margin-left:30.4%/*21em*/;
width:69.6%/*50em*/;
    height:auto;
    background:rgba(255,255,255,0.8);
position: absolute;

}
#rightm iframe {
width:100%/*54em*/;
height:auto/*36em*/;
    border:transparent;
    margin:0;
}
#h
{
text-align:center;
background:rgba(25,25,25,1);
width:100%/*61.2em*/;
color:white;
padding:0.3em 0;

position:relative;
margin:0;

font-size:1.2em;
box-shadow:inset 0 0 1em rgba(255,255,255,0.5);
}

#frlnk { }
#nottemp{}
#temp li
{

    background:rgba(25,25,25,1);
    box-shadow:inset 0 0 2em rgba(255,255,255,0.2);
    color:White;
    padding:1em;
    cursor:pointer;

}

#signup{

    background:rgba(255,255,255,0.9);
    width:100%/*75em*/;
    position:relative;
    height:29em;
    top:4em;
    text-align: center;
    left:0;
    padding:0.5em 0;
    margin:0;
    font: Arial;

    font-size:1.3em;
}

#signup .basicinfo, #signup .contactinfo,#signup .login{

    float: left;
    border:none;
    text-align: left;
}
#signup .basicinfo input,#signup .contactinfo input, #signup .login input{
    border:1px rgba(0,0,0,0.3) solid;
    border-radius:5px;
    height:1.8em;
    width: 15em;
    font-size:1em;
    font-weight: lighter;
    font-style:italic;
       margin-right:1em;
    padding:0.2em;
    margin-bottom: 1em;
}
#signup button{

    height:2em;
    width:6em;
    color:white;
    font-size:1.5em;
    background:rgba(255,25,25,1);
    margin:1em;
}
#signup .tc{
    border:none;
}
#signup .captcha {

    border:1px black solid;
    margin:1em;
    margin-left: 38%;
    background: rgba(25,25,255,0.8);
    width:20%;

}
#signup .captcha input{
    border:1px rgba(0,0,0,0.3) solid;
    border-radius:5px;
    height:1.8em;
    width: 15em;
}
#signup .login{

    margin:1em 0 0 1em;
    border-right:1px rgba(0,0,0,0.2) solid;
}
#signup .noacc {
    margin:1em;
    margin-bottom: 2em;
    border: none;
    padding:1.8em;
}
/*HEADER SECTION*/
#header{
    margin:0;
    top:0;
    border-radius:0 0 5px 5px;
    padding:0;
    height: 40px;
    width: 100%/84.4em/;
    background:rgba(0,0,0,1);
    position:relative;
    left:0;
    color:rgba(255,255,255,1);
    box-shadow:inset 0.1em -0.1em 0.1em rgba(255,255,255,0.5),inset -0.1em -0.1em 0.1em rgba(255,255,255,0.5),inset 0 -0.3em 0.5em rgba(255,255,255,0.2);
}

.edger{
    border-radius:0 0 5px 0;
}

#header #rightbox {
    margin:0;
    color:rgba(255,255,255,1);

}

#header #rightbox li{
    margin:0;
    display:inline-block;
    list-style:none;
    float:right;
    border-left:0 white solid;
    padding:0.3em;
    padding-left:0.4em;
    padding-top:0.5em;
    height:27px;
    box-shadow:inset 0.1em 0 0 rgba(255,255,255,0.6),inset -0.1em 0 0.2em rgba(255,255,255,0.3),inset 0.1em 0 0.5em rgba(255,255,255,0.3);
    font-weight:bold;

}
.edgel{
    border-radius:0 0 0 5px;
}
#header #leftbox {
    margin:0;
    color:rgba(255,255,255,1);
    padding:0;
}
#header #leftbox li{
    margin:0;
    display:inline-block;
    list-style:none;
    float:left;
    border-left:0 white solid;
    padding:0.3em;
    padding-left:0.4em;
    padding-top:0.5em;
    height:27px;
    box-shadow:inset -0.1em 0 0 rgba(255,255,255,0.6),inset 0.1em 0 0.2em rgba(255,255,255,0.3),inset -0.1em 0 0.5em rgba(255,255,255,0.3);
    font-weight:bold;
    left:0;


}
#header li:hover{

    background:rgba(255,255,255,1);
    color:rgba(0,0,0,1);

}

#header #leftbox li:hover{

    box-shadow:inset 0.1em 0 0.2em rgba(0,0,0,0.3),inset -0.1em 0 0.5em rgba(0,0,0,0.3);
}
#header #rightbox li:hover{

    box-shadow:inset -0.1em 0 0.2em rgba(0,0,0,0.3),inset 0.1em 0 0.5em rgba(0,0,0,0.3);
}




/*FOOTER SECTION */
#footer {
    margin:0;
    top:2em;
    margin-top:1em;
    border-radius:5px 5px 0px 0px;
    height: auto;
    width: 100%/84.4em/;
    background:rgba(0,0,0,1);
    position:relative;
    left:0;
    text-color:rgba(255,255,255,1);
    box-shadow:inset 0.1em 0.1em 0.1em rgba(255,255,255,0.5),inset -0.1em 0.1em 0.1em rgba(255,255,255,0.5),inset 0 0.3em 0.5em rgba(255,255,255,0.2);

}
#footer p{
    padding:0.5em;
    color:white;
}