@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html{
  min-height: 100%;

  
}

h1{
  font-weight: 700;
}

*{
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizelegibility;
font-feature-settings: "liga", "kern";
}

.logo-main{
  z-index: 20;

  position: absolute;

}
.one{
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(../images/one.jpg) no-repeat center center fixed;
  background-size: cover;

}


.two{
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(../images/two.jpg) no-repeat center center fixed;
  background-size: cover;
}

.three{
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(../images/three.jpg) no-repeat center center fixed;
  background-size: cover;

}



/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  height: 100vh;
  top: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding-bottom: 10%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  height: 100vh;
  background-color: #777;

}


.navbar{

  background: rgba(255, 255, 255, 0.90);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);


}

.navbar .container-fluid .navbar-header .navbar-toggle,
.navbar .container-fluid .navbar-header .navbar-toggle:hover,
.navbar .container-fluid .navbar-header .navbar-toggle:active,
.navbar .container-fluid .navbar-header .navbar-toggle:visited,
.navbar .container-fluid .navbar-header .navbar-toggle:link{
  border: none;
  background: none;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#myCarousel{
  padding-bottom: 0;
  margin-bottom: 0;
}


.navbar .container-fluid .navbar-collapse .nav .navbar-active > a{
  color: #999;
  pointer-events: none;

}

.navbar .container-fluid .navbar-collapse .nav li a{
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

.navbar .container-fluid .navbar-collapse .nav li a:hover{
  color: #08c;
}

footer{
  
  background-color: #333;
  margin-bottom: 0;
  height: 60px;
  
  position: relative;
}

.footer-logo{
  max-height: 40px;
  min-height: 20px;
  margin-top: 14px;
   
}

.centered{
  display: block;
  margin-right: auto;
  margin-left: auto;
}