html{
    font-family: "Roboto", helvetica, arial, sans-serif;
}

form ul li,
form ul li.active {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    line-height: 30px;
    -webkit-transition: all 0.2 ease; /* Safari and Chrome */
    transition: all 0.2s ease;
}

form ul li.active {
    background-color: #8ec16d;

}

.close-icon {

    font-size: inherit;
    cursor: pointer;
}

.fixed-side {
    position: fixed;
    height: 100%;
}

#searchBoxContainer {
    padding: 0;
    margin: 0;
}

#searchBox {
    width: 100%;
    max-width: 150px;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 0;
}

.page-header {
    line-height: 1;
}

.batsmanactive {
    color: white;
    background-color: #2196f3;
}

.bowleractive {
    color: white;
    background-color: #f44336;
}

.allrounderactive {
    color: white;
    background-color: #9c27b0;
}

.coachactive {
    color: white;
    background-color: #4caf50;
}

.limit-exceeded {
    cursor: default;
}