html {
    font-family: "Roboto", helvetica, arial, sans-serif;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
}

form ul li,
form ul li.active {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    line-height: 30px;
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    transition: all 0.2s ease;
}

form ul * {
    -webkit-transition: all linear 0.2s; /* Safari and Chrome */
    transition: all linear 0.2s;
}

.fixed-side {
    position: fixed;
    height: 100%;
}

#searchBoxContainer {
    padding: 0;
    margin: 0;
}

#searchBox {
    width: 100%;
    max-width: 150px;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 0;
    font-weight: normal;
}

.page-header * {
    line-height: 1;
    color: #000000;
}

.batsmanactive {
    color: white;
    background-color: #2196f3;
}

.bowleractive {
    color: white;
    background-color: #f44336;
}

.allrounderactive {
    color: white;
    background-color: #9c27b0;
}

.coachactive {
    color: white;
    background-color: #4caf50;
}

.limit-exceeded {
    cursor: default;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.clickable {
    cursor: pointer;
}

.nav-pills,
.nav-pills li a {
    padding: 5px;
}

* {
    font-family: "Roboto", helvetica, arial, sans-serif;

}

.playerlist {
    -webkit-transition: all linear 0.2s; /* Safari and Chrome */
    transition: all linear 0.2s;
}

.aside {
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;;
}