html
{

    font-family: "Roboto", helvetica, arial, sans-serif;
}

.container-fluid {
    text-align: center;
}
.main
{
    padding: 50px 0 50px;
}
#head1:hover
{
    cursor: pointer;
}
#p1
{
    height: 150px;
    width: 80px;
}
#p2
{
    height: 150px;
    width: 80px;
}
#p3
{
    height: 150px;
    width: 80px;
}