<!DOCTYPE html>

<html>
	<head>
		<title>
			GPL
		</title>
		<link rel="stylesheet" type="text/css" href="/gplmain.css" />
	</head>
	<body>
	<div id="1">
	
	</div>
	<!--Main GPL logo or image required-->
	<img class="im" src="Main.jpg" />
	<div id="trap1">
	</div>
	<div id="menu">
		<table id="box">

            <td><a href="/">Home</a></td>
            <td><a href="/how">How To Play</a></td>
            <td><a href="RS.html">Rules & Scoring</a></td>
            <td><a href="prize.html">Prizes</a></td>
			<td><a href="stats.html">Players & Coaches</a></td>
			<td>My Team</td>
            <td><a href="Sponsors.html">Sponsors</a></td>
				
		</table> 
	</div>
	<img class="back" src="/Images/background.jpg" />

	<div  style="text-align:center;" id="bar">
	<table>
		
			
			<tr><td style="padding-left:0em;"><p>Feel what it is to be an owner.....</p></td></tr>
			<tr>
				<td>1.Create your team.</td>
				<td style="padding-left:3em;">2.Earn points. </td>
				<td style="padding-left:5em;">3.Win Prizes.</td>
				</tr>
				
		
		</table> 

	</div>
	<div id="Signup">
	<!--Javascript Required for login -->
	<input type="Button" value="Sign Up">
	
	</div>
    <div id="trap2">
    </div>
    </body>
</html>
