<!DOCTYPE html>
<!-- Use of javascript is required to switch frames. Content and Javascript part is left to the respective teams -->
<html>
	<head>
		<title>
			GPL
		</title>
		<script type="text/javascript" href="htp/htp.js">
		</script>
		
		<link rel="stylesheet" type="text/css" href="CSS.css" />
		
	</head>
	<body>
	<div id="1">
	
	</div>
	
	<div id="trap1">
	</div>
	<div id="menu">
		<table id="box">

            <td><a href="Main.html">Home</a></td>
            <td><a href="HowTP.html">How To Play</a></td>
            <td><a href="RS.html">Rules & Scoring</a></td>
            <td><a href="prize.html">Prizes</a></td>
            <td><a href="stats.html">Players & Coaches</a></td>
            <td>My Team</td>
            <td><a href="Sponsors.html">Sponsors</a></td>

		</table> 
	</div>
	<img class="back" src="waca.jpg" />
	<div id="trap2">
	</div>
	<div id="m">
		<div id="h"> Sponsors </div>
	</div>
</body>
</html>
